.breadcrumbs-container {
  .breadcrumbs {
    display: flex;

    .breadcrumbs-item {
      font-size: 13px;
      cursor: pointer;
      transition: color 0.1s ease;
      color: greyTextLight;
      font-weight: 400;

      &:hover {
        color: info;
      }

      &:not(:last-child)::after {
        content: '\003e';
        font-size: 9px;
        line-height: 13px;
        padding: 0 0.4rem;
      }

      .label {
        font-size: 13px;
      }
    }
  }
}
