#initial-loading{
  width 100vw
  height 100vh
  position fixed
  top 0
  left 0
  background-color white
  #il-wrapper{
    position absolute
    top 50%
    left 50%
    text-align center
    transform translate(-50%, -50%)
    #il-text{
      color #1a1a1a
      font-weight 550
      text-align center
      margin-top 10px
      font-size 2rem
    }
  }
}
