.listing-info-select{
  padding: 16px 16px 0px 16px;
  box-sizing: border-box;
  .listing-info-wrapper{
    cursor pointer
    border-radius: 6px;
    position relative;
    border: 1px solid lightgray;
    width 100%;
    height 58px;
    margin: 0;
    overflow: hidden;
    z-index: 0;
    .listing-info-toggle{
      .listing-info-label{
        max-width 100%;
        position: absolute;
        left: 16px;
        font-size: 16px;
        white-space: nowrap;
        line-height: 20px;
        top: 18px;
        max-width 100%;
        right: 8px;
      }
      .toggle-icon{
        display flex
        i{
          align-self center
        }
      }
    }
  }
}