.class-student-modal {
  width 800px

  .modal-footer{
    .btn-confirm{
      i{
        margin-right 6px
      }
    }
  }
}
.class-student-info{
  .summary{
    font-size 1.5rem
    font-weight 500
    span{
      color info

    }
    margin-bottom 15px
  }
  .table-container{
    max-height 500px
    overflow-y auto
  }
}