.share-post-display{
  min-height 150px
  position relative
  .post-not-existed{
    padding 16px
    color commonTextLight
    background-color bgLight
    border-radius 5px
    .pne-title{
      font-size 1.6rem
      font-weight 600
      margin-bottom 1rem
    }
    .pne-content{
      font-size 1.4rem
    }
  }
}