.ssi-modal{
  width 800px
}
.item-detail-info{
  .info{
    margin-bottom 10px
    font-size 15px
    font-weight 500
    .label{
      color inverse
      width 200px
      display inline-block
    }
    .value{
      color info
      display inline-block
    }
  }
}