.create-listing-widget{
  background-color white
  height 100vh;
  border-top: 1px solid transparent;
  box-shadow: 0 0 15px 1px rgba(69,65,78,0.2) 
  .create-listing-header{
    margin 20px 16px 12px 16px
    .create-listing-title{
      font-weight: 700
    }
  }

  .create-listing-body{
    .pick-listing-type{
      margin: 8px 0 12px 0;  
    }
    .other-choice{
      margin-top: 12px;  
    }
    .line-seperate{
      border-bottom: 1px solid lightgray;
      margin: 0 16px;
    }
  }
}