.guest-navbar-login-widget{
  .gnlw-input-wrapper
  .login-btn {
    display inline-block

  }
  .gnlw-input-wrapper{
    vertical-align top
    width 200px
    margin-left 12px
    position relative
    .forgot-password{
      position absolute
      right 0
      top 0
      color primaryButton
      font-size 1.2rem
      &:hover{
        color darken(primaryButton, 20%)
      }
    }
  }
  .login-btn{
    padding 6px 15px !important
    vertical-align top
    margin-top 27px
    margin-left 15px
  }
}