.hyperlink{
  position relative
  min-height 60px
  text-align left
  .url-image{
    position relative
    height 100px
    overflow hidden
    background-color btnCancelLight
    img{
      absoluteMiddle()
      width 100%
    }
  }
  .loading-inline{
    i{
      color white
    }
  }
  .url-main{
    background-color btnCancelLight
    color commonTextLight
    padding 8px 12px
    .url-title{
      font-size 1.5rem
      font-weight 500
      white-space pre-wrap
      word-break break-word
    }
    .url-source{
      font-size 1.3rem
      font-weight 400
      margin-top 5px
      white-space pre-wrap
      word-break break-word
    }
  }
}