.message-tooltip{
  .tooltip-content{
      opacity 0.6
  }
}
.receiver-info{
  min-height 120px
  margin-bottom 20px
  padding-top 20px
  text-align center
  .common-avatar{
    width 60px
    height 60px
    border-radius 5px
    .avatar-holder{
      span{
        font-size 2.2rem
      }
    }
  }
  .username{
    margin-top 10px
    font-size 1.5rem
    color commonTextLight
    padding 0 10px
    white-space pre-wrap
  }
}
.message-section {
  flex-basis: 355px;

  overflow-y auto
  overflow-x hidden
  position relative
  .new-message-notify{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display inline-block
    top calc(100% - 35px)
    left 50%
    transform translateX(-50%)
    background-color white
    box-shadow:0px 2px 6px #C4C4C4
    padding: 5px 10px;
    z-index: 1;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      background-color darken(white, 3%)
    }
  }
  .messages{
    .typing{
      margin 10px 0
      display flex
      align-items center
      .avatar{
        flex 0 0 44px
        text-align center
        .common-avatar{
          width 30px
          height 30px
          .avatar-holder{
            span{
              font-size 1.3rem
            }
          }
        }
      }
      .message-holder{
        flex 0 0 auto
        background-color btnCancelLight
        border-radius 18px
        padding 8px 12px

      }
    }
  }
  .loading-wrapper {
    position relative
    height 50px

    &.expand {
      height 100%

      .loading-inline {
        i {
          font-size 3rem

        }
      }
    }

    .loading-inline {
      i {
        font-size 2.2rem

      }
    }

  }
}

.chat-message {
  position relative
  &.disabled{
    pointer-events none
  }
  .link-msg{
    color unset
    text-decoration unset
    &:hover{
      color unset
    }
    cursor pointer
  }
  &.head {
    margin-top 10px
    .message-renderable-content{
      border-radius 18px 18px 18px 4px

      &.owned {
        border-radius 18px 18px 4px 18px
      }
    }

  }

  &.tail {
    margin-top 2px
    margin-bottom 10px
    .message-renderable-content{
      border-radius 4px 18px 18px 18px

      &.owned {
        border-radius 18px 4px 18px 18px
      }
    }

  }

  &.middle {
    margin-top 2px
    .message-renderable-content{
      border-radius 4px 18px 18px 4px

      &.owned {
        border-radius 18px 4px 4px 18px
      }
    }

  }

  &.single {
    margin 10px 0
    .message-renderable-content{
      border-radius 18px


    }
  }
  &.owned {
    .message-action {
      width 78px !important

    }
    text-align right

    .upper-panel {
      justify-content flex-end
    }
  }
  .seen-panel{
    margin-top 3px
    text-align right
    .seen-avatar{
      width 14px
      height 14px
      border-radius 50%
      margin-right 4px
      display inline-block
      .common-avatar{
        width 14px
        height 14px
        .avatar-holder{
          span{
            font-size 0.2rem
            font-weight 400 !important
          }
        }
      }
    }
  }
  .upper-panel {
    display flex
    justify-content flex-start

    &:hover {
      .message-action {
        opacity 1

      }
    }

    .avatar{
      width 44px
      text-align center
      align-self center
      .status-avatar{
        width 30px
        height 30px
        .active-status{
          width 10px
          height 10px
        }
        .common-avatar{
          width 30px
          height 30px
          .avatar-holder{
            span{
              font-size 1.3rem
            }
          }
        }
      }

    }

    .message-action {
      width 56px
      align-self center
      opacity 0

      .message-action-wrapper {
        width 100%
        display flex
        align-items center
        justify-content space-around

        .action {
          width 22px
          height 22px
          border-radius 50%

          i {
            absoluteMiddle()
            font-size 1.6rem
          }
          position relative
          background-color transparent
          transition background-color 0.1s ease
          cursor pointer

          &:hover {
            background-color btnCancelLight
          }
        }
      }
    }

    .message-state {
      align-self flex-end
      width 22px
      .msg-state{
        width 14px
        height 14px
        display block
        margin auto
        border-radius 50%
        border 1px solid common-border
        position relative
        background-color transparent
        i{
          font-size 0.8rem
          font-weight 500
          absoluteMiddle()
          color common-border
        }
        &.full-fill{
          background-color common-border
          i{
            color white
          }
        }
      }
    }

    .message-renderable-content {
      background-color btnCancelLight
      overflow hidden
      margin-right 5px
      margin-left 0
      color commonTextLight
      &.isDeleted{
        background-color white !important
        pointer-events none
        border 1px solid common-border
      }
      .deleted-msg{

        padding 8px 12px
        color #bcc0c4
        font-size 1.5rem
        font-style italic
      }
      &.disabled{
        pointer-events none
      }
      display inline-block
      position relative
      .upload-loading{
        position absolute
        z-index 1
        width 100%
        height 100%
        top 0
        left 0
        overflow hidden
        background-color rgba(white, 0.5)
        .message-file-loading{
          position absolute
          bottom 0
          left 0
          z-index 1
        }
      }
      max-width calc(100% - 56px - 5px - 10px - 44px)
      .content{
        font-size 1.5rem
        font-weight 400
        text-align left
        white-space pre-wrap
        padding 8px 12px
        word-break  break-word
        vertical-align bottom
      }

      .message-link {
        color inherit !important
        font-weight 450

        &:hover {
          text-decoration underline !important
        }
      }

      &.owned {
        background-color primaryButton
        color white !important
        margin-right 0
        margin-left 5px
        max-width calc(100% - 22px - 78px - 5px - 10px)
      }


    }
  }

}