.post-box{
  margin-top 20px
  .post-body{
    .content{
      white-space pre-wrap
      padding 8px 16px
      font-size 1.5rem
      & > span{
        display inline-block
        vertical-align middle
      }
    }
  }
  .post-header{
    display flex
    padding 12px 15px
    align-items center
    .avatar-wrapper{
      flex 0 0 50px
    }
    .post-actions{
      flex 0 0 40px
      .post-actions-dropdown{
        padding 8px
        width 250px
        .setting-row{
          padding 8px
          display flex
          align-items center
          cursor pointer
          &:hover{
            background-color darken(white, 5%)

          }

          .label{
            font-size 1.4rem
            white-space nowrap
            font-weight 500
            padding-left 12px
            flex 0 0 calc(100% - 25px)
          }
          .icon-wrapper{
            position relative
            flex 0 0 25px
            i{
              font-size 1.8rem
              position absolute
              absoluteMiddle()
            }
          }
          i{
            font-size 2rem

          }
        }
      }
      .post-actions-toggle{
        position relative
        width 30px
        height 30px
        border-radius 50%
        cursor pointer
        &:hover{
          background-color darken(white, 5%)
        }
        i{
          absoluteMiddle()
          font-size 2rem !important
          color commonTextLight
        }
      }
    }
    .post-meta-data{
      flex  0 0 calc(100% - 80px)
      .timer{
        display flex
        align-items center
        .last-active{
          color greyTextLight
          font-size 1.3rem
          font-weight 500
          margin-left 0.5rem
        }
        .policy{
          margin-right 0.5rem
          i{
            color greyTextLight
            font-size 1.5rem
          }
        }
      }
      .upper{
        color greyTextLight
        font-size 1.5rem
        .link{
          font-weight 500
          color commonTextLight
        }
        white-space pre-wrap
      }
    }
  }

}