.image-tag-wrapper {
  position relative

  img {
    width 100%
    height 100%
  }

  .tag-box-overlay {
    width 100%
    height 100%
    position absolute
    left 0
    top 0
    background-color transparent
    z-index 1

    .tag-box-container {
      width 100%
      height 100%
      position relative

      .tag-box {
        position absolute
        cursor pointer
        border 2px solid white
        background-color transparent
        box-shadow: 0px 0px 3px #1C1C1C

      }
    }
  }

  .tag-overlay {
    width 100%
    height 100%
    position absolute
    left 0
    top 0
    z-index 3

    .tags-container {
      width 100%
      height 100%
      position relative

      .tag-select {
        position absolute
        z-index 100
        .select-wrapper {
          position relative

          .select-container {
            position absolute
            top 0
            left 50%
            transform translateX(-50%)
            border-radius 5px
            background-color white
            padding 5px
            box-shadow:0px 0px 3px #DBDBDB
            width 200px
            .tag-select-input{
              margin-bottom 0 !important
            }
            .results{
              margin-top 2px
              position relative
              min-height 60px
              max-height 150px
              overflow auto
              .item{
                padding 8px
                display flex
                align-items center
                cursor pointer
                &:not(.active):hover{
                  background-color darken(white, 3%)
                }
                &.active{
                  background-color rgba(primaryButton, 0.1)
                }
                .avatar-wrapper{
                  flex 0 0 30px

                  .common-avatar{
                    width 25px
                    height 25px
                    .avatar-holder{
                      span{
                        font-size 1.1rem !important
                      }
                    }
                  }
                }
                .username{
                  flex 0 0 calc(100% - 30px)
                  font-size 1.4rem
                  font-weight 500
                }
              }
            }
          }
        }
      }
    }
  }
}