.image-tag-wrapper{
  position relative
  img{
    width 100%
    height 100%
  }
  .tag-overlay{
    width 100%
    height 100%
    position absolute
    left 0
    top 0
    .tags-container{
      width 100%
      height 100%
      position relative
    }
  }
}