.group-chat-avatar{
  position relative
  width 40px
  display inline-block
  height 40px
  .avatar-holder{
    span{
      font-size 1rem
    }
  }
  .gca-1
  .gca-2 {
    width 25px
    height 25px
    position absolute

  }
  .gca-1{
    left 0
    bottom 0
  }
  .gca-2{
    right 0
    top 0
  }
  .active-status{
    position absolute
    bottom 0
    right 0
    border-radius 50%
    width 13px
    height 13px
    border 2px solid bgLight
    background-color success
  }
}