.forgot-password-route {
  .form-wrapper {
    padding 15px 20px
    margin auto
    margin-top 100px
    border 1px solid common-border
    border-radius 4px

    width 300px
    position relative
    .form-body{
      min-height 200px
      margin 15px 0 20px 0
      & > .loading-inline{
        i{
          font-size 30px
        }
      }
    }
    .form-header{
      .form-title{
        font-size 16px
        font-weight 500
      }
      .sub-title{
        font-size 13px
        margin-top 10px
        color subTitle
      }
    }

  }
}