.settings-security-route{
  padding-left 30px
  padding-right 30px
  .sr-title{
    padding 0 !important
    margin-bottom 5px !important
  }
  .ssr-sub{
    font-size 1.4rem
    color greyTextLight
    margin-bottom 15px
  }
  .ssr-actions{
    margin-top 25px
  }
}