.reactions-widget {

  padding 5px

  display flex

  align-items center
  justify-content center
  background-color white
  border-radius 20px
  box-shadow 0px 0px 15px 1px rgba(69, 65, 78, 0.2)

  .reaction {
    cursor pointer
    padding 2px
    border-radius 25%
    &.active{
      background-color btnCancelLight
    }
    & > span {
      display block
    }
  }
}