.table-pagination {
  margin-top 10px
  text-align right
  .link {
    font-size 13px;
    cursor pointer;
    background-color rgba(52,152,219,.1)
    height 30px
    display inline-block
    padding 5px 10px
    text-align center
    color tikiblue
    border-radius 4px
    margin-left 3px
    no-select()
    transition all 0.1s ease
    &:not(.overview):hover {
      color white;
      background-color tikiblue

    }
    &.isDisabled{
      opacity 0.6
      pointer-events none
    }
  }

  .link.page {
    &.active {
      color: white;
      background-color #716aca
    }
  }
  .editable-link{
    border none
    outline none
    width 48px
    border-radius 30px
  }

}
