.birthday-picker{
  margin-bottom 1.2rem
  .birthday-picker-label{
    color #1a1a1a
    font-weight 500
    font-size 1.4rem
  }
  .pickers{
    margin-top 5px
    display flex
    justify-content space-between
    .birthday-picker-picker{
      .select-toggle{
        text-align center
      }
      .select-option{
        text-align center
      }
    }
    .day-picker{
      flex 0 0 28%

    }
    .month-picker{
      flex 0 0 28%
    }
    .year-picker{
      flex 0 0 38%
    }
  }
}