.listing-full-display {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .picture-display-section {
    background-color: btnCancelLight;
    flex-grow: 1;
    height: 100%;
  }

  .listing-all-info-section {
    flex-basis: 370px;
  }

  .blank-section {
    flex-basis: 80px;
  }
}