.chat-widget{
  height 100%
  padding 0 8px
  overflow-y auto
  .chat-widget-section{
    padding 15px 0
    border-top 1px solid common-border
    .cws-title{
      color greyTextLight
      font-weight 500
      font-size 1.6rem
      margin-bottom 15px
    }
  }

}