.files-preview{
  position relative
  .fp-actions{
    position absolute
  }
  .close-wrapper{
    position absolute
  }
  .fp-list{
    position relative
    border-radius 5px
    overflow hidden
    .file-preview{
      position relative
    }
  }
}