.upload-panel{
  flex 0 0 50%
  .form-title{
    font-size 1.6rem
    padding-bottom 8px
    border-bottom 1px solid common-border
    margin-bottom 20px
    font-weight 400
    color subTitle
  }
  padding 20px
  .u-form{
    &.valid{
      .form-title{
        border-bottom 2px solid success
        color success
      }
    }
  }
  .upload-form-row{
    margin-bottom 15px
    .file-name{
      color #415dfe
      font-size 1.4rem
      margin-left 10px
    }
    .upload-input{
      label{
        font-size 1.6rem
        color inverse
        font-weight 500
        margin-bottom 6px
      }
    }
    .upload-label{
      font-size 1.6rem
      color inverse
      font-weight 500
      margin-bottom 6px
    }
    .btn-upload{
      background-color info
      color white
      padding 6px 15px
      font-size 1.5rem
    }
  }
}