.dating-setting{
    flex: 0 0 30%;
    background-color: bgLight;
    border-right: 1px solid common-border;
    .dating-header{
        >i{
            align-self : center
            font-size: 22px;
            font-weight: 500
            color : white
            cursor pointer
        }
    }
}