.dating-setting{
    position relative
    flex: 0 0 30%;
    background-color: bgLight;
    border-right: 1px solid common-border;
    .dating-header{
        >i{
            align-self : center
            font-size: 18px;
            font-weight: 500
            color : white
            cursor pointer
        }
    }
    .ds-fitler{
        font-size : 20px
        font-weight: 300    
    }
    .wrap{
        positon : absolute}
    .dcpf-button{
        margin : 10px auto;
        display: flex
        justify-content: center
        bottom : 0;
        left : 40%
        font-size : 16px
        font-weight: 500
        color:white
        background-color: blueTextLight
        height :30px;
        width : 50px
        border-radius: 10px;
        cursor pointer
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
}