.reaction-bottom{
  display inline-block
  //position absolute
  //left 7px
  //top calc(100% - 8px)
  .reaction-display{
    display flex
    background-color white
    border-radius 10px
    padding 1px
    align-items center
    justify-content center
    box-shadow 0px 0px 15px 1px rgba(69, 65, 78, 0.2)
    .reaction{
      display flex
      align-items center
      justify-content center
      padding 2px
      .count{
        margin-left 3px
        color greyTextLight
      }
    }
  }
}