.listing-display {
  max-width: 1 / 3;
  min-width: 1 / 5;
  padding: 4px;
  flex-basis: 1 / 5;

  .listing-picture {
    width: 100%;

    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .listing-main-info {
  }
}