.educate-program-route{
  .edu-programs{
    padding 20px
  }
  .table-actions{
    .spec-select{
      margin-bottom 30px
      display flex
      align-items center
      width 500px
      .label{
        font-size 1.5rem
        color inverse
        font-weight 500
        margin-right 15px
      }
    }

  }
}