.ins-schedule-route{
  max-width 1200px !important
  .table-title{
    color info
    font-size 1.5rem
    margin-bottom 2rem
    font-weight 450
  }
  .table-actions{
    justify-content flex-start !important
    .spec-select{
      flex 0 0 36% !important
      margin-right 15px
    }
  }
}