.create-listing-input-widget{
  background-color white
  height 100vh;
  border-top: 1px solid transparent;
  box-shadow: 0 0 15px 1px rgba(69,65,78,0.2) 
  .cs-input-header{
    margin: 20px 16px 12px 16px;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction column;
    
  }
}