.profile-feed-route{
  .pfr-left-panel
  .pfr-right-panel{
    display inline-block
    vertical-align top
  }
  .pfr-left-panel{
    width 40%
    padding-right 15px
  }
  .pfr-right-panel{
    width 60%
  }
}