.dating-message-bar {
    display: flex;
    .dmb-input-wrapper{
        width 100%
        position relative
        border-radius 20px
        background-color bgLight
        padding 6px 12px
        font-size 1.4rem
        .picker-wrapper{
            position absolute
            bottom : 100%
            right : 0 ;
        }
        input{
            width : 100%
            border : none 
            outline : none
        }
        .dmb-emoji-picker{
            position absolute
            right 0
            bottom 0
            height 34px
            width 34px
            line-height 3
            text-align center
            border-radius 50%
            cursor pointer
            transition background-color 0.1s ease

    i {
      font-size 2.2rem
      color lightIcon
    }        
        }
    }
    
    .dmb-action{
        .action-wrapper{
            margin-right : 5px
            align-self: center
        }
    }
}