.switch-btn {
  display inline-block
  label{
    margin 0 !important
  }
  .switch-label{
    font-size 1.6rem
    margin-bottom 0.5rem
    font-weight 500
    color commonTextLight
  }
  label {
    cursor pointer
    padding: 0;

    * {
      vertical-align: middle;
    }

    input {
      display: none;

      & + span {
        position: relative;
        display: inline-block;
        width: 56px;
        height: 28px;
        background: #ced0d4;
        border-radius: 50px;
        transition: all 0.2s ease-in-out;

        small {
          position: absolute;
          display: block;
          width: 23px;
          height: 23px;
          background: #fff;
          border-radius: 50%;
          transition: all 0.2s ease-in-out;
          left: 2.5px;
          top 50%
          transform translateY(-50%)
        }
      }

      &:checked + span {
        background: primaryButton;
        border-color: primaryButton;

        small {
          left 29.5px
        }
      }
    }
  }
}