.comment-input {
  position relative

  .wrapper {
    display flex
    align-items center

    .avatar-wrapper {
      flex 0 0 40px

      .common-avatar {
        width 34px
        height 34px

        .avatar-holder {
          span {
            font-size 1.4rem
          }
        }
      }
    }

    .input-wrapper {
      flex 0 0 calc(100% - 40px)
      position relative

      .comment-input{
        .emoji-mart-emoji{
          vertical-align middle
        }
        & > div{
          position relative
        }
        background-color bgLight
        border-radius 20px
        color commonTextLight
        padding 8px 12px
        font-size 1.4rem
        width 100%
        position relative
        cursor text
        overflow-y auto
        .create-post-mention{
          color lightMentionText
          background-color lightMentionBg
          padding 1px 0
          &:hover{
            color lightMentionText !important
            background-color lightMentionBg !important
          }
          &:focus{
            color lightMentionText !important
            background-color lightMentionBg !important
          }

        }

      }
      .comment-input-entry {
        cursor pointer
        padding 8px

        &:hover {
          background-color darken(white, 3%)
        }

        .content-wrapper {
          display flex
          align-items center

          .common-avatar {
            width 34px
            height 34px

            .avatar-holder {
              span {
                font-size 1.4rem
              }
            }
          }

          .user-info {
            flex-grow 1
            padding-left 10px

            .username {
              font-weight 500
              color commonTextLight
              font-size 1.4rem
              line-height 100%
              textOverflowEllipsis()
            }

            .nickname {
              line-height 100%
              margin-top 3px
              font-size 1.2rem
              color commonTextLight
              textOverflowEllipsis()
            }
          }
        }
      }
    }
  }
}