.comment-input{
  position relative
  .wrapper{
    display flex
    align-items center
    .avatar-wrapper{
      flex 0 0 50px
      .common-avatar{
        width 34px
        height 34px
        .avatar-holder{
          span{
            font-size 1.4rem
          }
        }
      }
    }
    .input-wrapper{
      flex 0 0 calc(100% - 40px)

    }
  }
}