.search-input-box{

  overflow hidden

  .wrapper{
    display flex
    align-items center
    .search-input{
      background-color bgLight
      margin 0
      border-radius 50px
      border unset
      i{
        color greyTextLight !important
      }
      input{
        background-color transparent
        color greyTextLight !important
      }

    }
    .search-btn{
      height 3.5rem
      background-color primaryButton
      width 4rem
      position relative
      i{
        position absolute
        font-size 1.5rem
        absoluteMiddle()
        color white
      }
      border-radius 0 3px 3px 0
      &:hover{
        background-color darken(info, 10%)
      }
      overflow hidden
      color #333
    }
  }

}