.my-tinder-card {
    position: relative;
    width: 600px;
    max-width: 25vw;
    height: 70vh;
    border-radius: 20px;
    // overflow: hidden;
    background-color: #fff;
    cursor: pointer;

    .my-tinder-card-filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.2;
        border-radius: 20px;
    }

    &>img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        border-radius: 20px;
    }

    box-shadow: 0px 18px 53px rgba(0, 0, 0, 0.3);

    .avatar-navigator {
        position: absolute;
        top: 5px;
        display: flex;
        padding: 0 6px;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .navigator-box {
            flex-grow: 1;
            padding: 6px 2px;

            &.active {
                .card-box {
                    background: white;
                    opacity: 1;
                }
            }

            .card-box {
                opacity: 0.2;
                background-color: black;
                border-radius: 5px;
                height: 5px;
                cursor: pointer;
            }
        }
    }

    &:hover {
        .swipe-right, .swipe-left {
            opacity: 1;
        }
    }

    .swipe-right, .swipe-left {
        position: absolute;
        top: 50%;
        color: white;
        font-weight: bold;
        font-size: 3rem;
        cursor: pointer;
        transition: opacity 0.2s ease;
        opacity: 0;
    }

    .swipe-left {
        left: 15px;
    }

    .swipe-right {
        right: 15px;
    }

    .dating-card-info {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 10px;
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding-left: 15px;
        padding-bottom: 10px;
        padding-right: 20px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);

        .dating-card-name-age {
            .dating-card-name {
                padding-right: 10px;
                display: inline;
            }

            .dating-card-age {
                display: inline;
                font-weight: 400;
            }
        }

        .dating-card-bio {
            display: block;
            font-weight: 400;
            font-size: 1.8rem;
            max-width: 20vw;
        }

        .dating-card-info-detail {
            i {
                font-size: 14px;
                font-weight: 300;
                margin-right: 2px;
            }

            font-weight: 400;
            font-size: 17px;
        }
    }

    .dating-card-show-detail {
        position: absolute;
        bottom: 40px;
        right: 20px;
        font-size: 25px;
        font-weight: 300;
        color: white;
    }
}