.market-search-section{
  .market-search-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-weight: 700
    margin: 20px 16px 12px 16px ;
  }
  
  .line-seperate{
    border-bottom: 1px solid lightgray;
    margin: 0 16px;
  }
}