.login-route{
  .panels{
    display flex
    .panel{
      flex 0 0 50%
      padding-top 70px
      &:first-of-type{
        padding-right 15px
      }
      &:last-of-type{
        padding-left 15px
      }
      .panel-title{
        color commonTextLight
        font-weight bold
        font-size 2.6rem
      }
      .panel-sub-title{
        color commonTextLight
        font-weight 400
        font-size 1.6rem
        margin-top 8px
      }
    }

  }
}