.menu-navigation-with-icon{
  padding: 0 8px;
  border-radius: 8px;
  .menu-navigation-wrapper{
    position relative
    text-align: left;
    padding: 8px;
    border-radius: 8px;

    &:hover{
      background-color: hover;
      cursor pointer
    }
    // &:focus{
    //   background-color: hover;
    // }

    .mn-icon{
      position absolute;
      margin: 8px 12px 8px 0px;
      border-radius: 50%;
      width: 36px;
      height 36px;
      line-height: 36px;
      background-color: btnCancelLight;
      transform translateY(-50%);
      display: flex;
      top: 30%;
      justify-content: center;
      align-items: center;
      text-align: center;
      i{
        color: iconColorLight;
        font-size: 17px;
      }
    }

    .mn-title-wrapper{
      padding: 4px 0;
      .mn-title{
        width 100%;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        padding: 12px 0px 12px 48px; 
      } 
    }
  }  
}
.main{
  .menu-navigation-wrapper{
    background-color: lightPrimary !important;
    .mn-icon{
      background-color: activeIcon;
      i{
        color: white;
      }
    }
  }
}