.navbar-global-search{
  .global-search-result{
    padding-bottom 8px
    position absolute
    width 100%
    left 0
    top 100%
    border 1px solid common-border
    background-color white
    border-radius 5px
    box-shadow 0 0 15px 1px rgba(69, 65, 78, 0.2)
    .search-empty{
      padding 8px 16px
      color #1a1a1a
      font-size 14px
    }
    .result-title{
      padding 8px 16px
      font-weight 500
      font-size 16px
      padding-top 16px
      color #1a1a1a
    }
    .result-list{
      .result-loading{
        padding-bottom 16px
      }
      .result-row{
        padding 0 8px
        .row-box{

          border-radius 5px
          padding 8px
          cursor: pointer;
          transition background-color 0.1s ease
          .search-row-detail{

            display flex
            align-items center
            justify-content space-between
            position relative
            &.recommend{
              .round-wrapper{
                background-color #1a1a1a
              }
            }
            &.search-history-row{
              .content{
                padding-right 15px
              }
            }
            .round-wrapper{
              position relative
              flex 0 0 35px
              border-radius 50%
              height 35px
              overflow hidden
              background-color primaryButton
              img{
                width calc(100% + 1px)
                height calc(100% + 1px)
                absoluteMiddle()
              }
              .name-holder{
                absoluteMiddle()
                font-size 15px
                color white
                font-weight 500
              }
              i{
                absoluteMiddle()
                color white
                font-size 18px
              }
            }
            .content{
              flex 0 0 calc(100% - 40px)
              padding-left 10px
              font-size 14px
              font-weight 500
              textOverflowEllipsis()
            }

          }
          &:hover{
            background-color darken(white, 5%)
          }
        }
      }
    }
  }
}