.profile-feed-widget{
  position relative
  .post-list{
    .loading-panel{
      position relative
      background-color transparent
      height 100px
      .loading-inline{
        i{
          font-size 3.5rem
          color primaryButton
        }
      }
    }
  }
}