@keyframes spinner{
  from{
    transform rotateZ(0)
  }
  to{
    transform rotateZ(360deg)
  }
}

@keyframes faded{
  from{
    opacity 0
  }
  to{
    opacity 1
  }
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}