*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {

  font-size: 62.5%;

}
.overflow-y{
  overflow-y auto
}
.hyperlink{
  color unset
  text-decoration unset
  &:hover{
    color unset
  }
  cursor pointer
}

.common-spin{
  animation spinner 0.5s linear forwards infinite
}
.common-form{
  .common-form-row{
    margin-bottom 10px
  }
}
.btn-grey{
  background-color bgLight
  color commonTextLight
  padding 5px 10px !important
  font-size 1.5rem
  font-weight 500
  &:hover{
    background-color darken(bgLight, 5%)
  }
  i{
    margin-right 6px
  }
}
.app-brand{
  color primaryButton
  font-weight 800
  font-family: 'Baloo Bhai 2', cursive;
  font-size 3.5rem
  cursor pointer
  &:hover{
    color primaryButton
  }
}
.valid-feedback
.invalid-feedback {
  font-size 1.2rem
  color danger
  margin-top 3px
}
.btn-cancel{
  background-color danger
  color white
  &:hover{
    background-color darken(danger, 10%)
    color white !important
  }
}
.high-light{
  color primaryButton
  font-weight 500
  &.dark{
    color commonTextLight
  }
}
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  overflow-x hidden
  margin 0
  padding 0
  font-weight: 300;
  line-height: 1.6;
  color: commonTextLight
  min-height: 100vh;
}
.btn-common-primary{
  background-color primaryButton
  color white
  &:hover{
    background-color darken(primaryButton, 10%)
    color white !important
  }
}
.round-icon-wrapper{
  border-radius 50%
  height 32px
  width 32px
  display flex
  align-items center
  justify-content center
  cursor pointer
  &:hover{
    background-color darken(bgLight, 5%)
  }
  background-color bgLight
  color commonTextLight
  i{
    font-size 2rem
  }
}
.btn-disabled{
  pointer-events none
  opacity 0.5
  cursor not-allowed
}

.text-select-disable{
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
}
.icon-btn{
  display flex
  align-items center
  & > i{
    font-size 2rem
    margin-right 10px
  }
}

a
  text-decoration none !important

ul{
  padding 0
  margin 0
  list-style-type none
  li{
    padding 0
  }
}
p
h1
h2
h3{
  margin-bottom 0

}