.upload-excel{
  margin-top 5rem
  .panel-wrapper{
    display flex
    justify-content center
  }
  .server-error{
    font-size 1.4rem
  }
}
.review-data{
  margin-top 5rem
  .s-title{
    color inverse
    font-size 1.8rem
    font-weight 500
    margin-bottom 3rem
  }
  .step-content{
    display flex
    flex-wrap wrap
    .overview-info{
      margin-bottom 20px
      flex 0 0 50%
      .overview-info__child{
        margin-left 15px
      }
      .label{
        color inverse
        font-size 1.5rem
        font-weight 450
        &:not(.inverse){
          margin-left 10px
        }
      }
      .value{
        font-size 1.5rem
        font-weight 450
        color info
        &.inverse{
          margin-left 10px
        }
      }
    }
  }
}
.data-type-picker{
  margin-top 5rem

  .separate{

    width 40rem
    margin 15px auto
    display flex
    align-items center
    span{
      &:nth-of-type(2){
        font-size 1.4rem
        margin 0 10px
      }
      &:nth-of-type(odd){
        height 1px
        border-radius 6px
        flex-grow 1
        background-color common-border
      }
    }
  }
  .option{
    margin auto
    padding 0.8rem 2rem
    text-align center
    width 40rem
    color white
    background-color inverse
    font-size 1.4rem
    font-weight 500
    border-radius 4px
    cursor pointer
    &:hover{
      background-color darken(inverse, 10%)
    }

  }
}