.type-showcase{
  margin: 8px;
  height 258px
  width: 193px 
  box-sizing: border-box;
  cursor pointer
  

  .listing-type-wrapper{
    padding: 48px 16px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 100%;
    box-shadow 0 1px 2px  rgba(0, 0 , 0, 0.2);
    &:hover{
      background-color: hover;
    }
    .listing-type-icon{
      vertical-align: bottom;
      background-size: 62px 518px;
      background-repeat: no-repeat;
      background-color: darken(hover, 5%);
      background-position: 0 -434px;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      margin: auto;
      text-align: center
      i{
        display: inline-block;
        vertical-align: bottom;
        font-size: 37px;
        padding-top: 12px;
      }
    }

    .listing-type-content{
      margin-top: 16px;
      .listing-type-title{
        text-align: center;
        color: normalTextLight;
        font-weight: 600;
        font-size: 15px;
      }
      .listing-type-description{
        color: lightIcon;
        font-size: 13px;
        text-align: center;
        font-weight: 400;
      }
    }

    
  }
}

.item{
      .listing-type-icon{
        color: red;
      }
    }
    .vehicle{
      .listing-type-icon{
        color:teal;
      }
    }
    .house{
      .listing-type-icon{
        color: orange;
      }
    }