.type-showcase{
  margin: 8px;
  border-radius: 8px;
  height 258px
  width: 193px
  .listing-type-wrapper{
    padding: 48px 16px;
    background-color: white;
    height: 100%;
    .listing-type-icon{
      vertical-align: bottom;
      background-size: 62px 518px;
      background-repeat: no-repeat;
      background-color: hover;
      background-position: 0 -434px;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      margin: auto;
      text-align: center
      i{
        display: inline-block;
        vertical-align: bottom;
        font-size: 37px;
        padding-top: 12px;
      }
    }

    .item{
      .listing-type-icon{
        color:red;
      }
    }
    .vehicle{
      .listing-type-icon{
        color:teal;
      }
    }
    .item{
      .listing-type-icon{
        color: orange;
      }
    }
  }
}