.center-input-wrapper{
  input{
    width 100%
    padding 8px 16px
    font-size 1.8rem
    border none
    outline none !important
    border-bottom 1px solid common-border
    text-align center
    &:focus{
      border-bottom-color primaryButton
    }
  }
  .invalid-feedback {
    font-size 1.2rem
    color danger
    margin-top 8px
  }
}