.tag-friends {
  height 300px

  .tag-friend-input {
    .empty-notify{
      padding 8px
    }
    .search-result{
      box-shadow unset
      .result-item{
        padding 8px
        border-radius 5px
      }
    }
    .friend-display {
      display flex
      align-items center
      transition all 0.1s ease
      cursor pointer
      position relative
      border-radius 5px
      .user-avatar {

        .common-avatar {
          width 40px
          height 40px

          .avatar-holder {
            span {
              font-size 1.6rem
            }
          }
        }
      }

      p {
        flex-grow 1
        margin-left 12px
        font-size 1.5rem
        font-weight 500
        padding-right 15px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
      }
    }

  }
}