.select-radio {
  .select-radio-toggle {
    cursor: pointer;
    height: 45px;
    padding: 13px 8px 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.33333;
    border-radius: 5px;

    &:hover {
      background-color: btnCancelLight;
    }
  }

  .radio-group {
    .radio-list {
      flex-direction: column;
      gap: 5px;
    }
  }
}