.small-title{
  font-size 1.6rem
  font-weight 500
  color inverse
  span{
    color #F1C40F
    &.class-count{
      font-size 1.5rem
      margin-left 1.5rem

      font-weight 500
    }
    &.class-name{

      font-size 1.4rem
      margin-left 6px
    }
  }
  margin-bottom 1.5rem
}
.registration-route{
  max-width 1200px !important

  .subject-list{
    position relative
    //.list-container{
    //  display flex
    //  flex-wrap wrap
    //  .registration-subject{
    //    flex 0 0 33.3%
    //    cursor pointer
    //    padding 6px
    //    border 1px solid transparent
    //    border-radius 3px
    //    &.active{
    //      border-color info
    //      font-weight 500
    //    }
    //    &:not(.active):hover{
    //      .s-name{
    //        color darken(info, 20%)
    //      }
    //
    //    }
    //    .s-name{
    //
    //      font-size 1.3rem
    //      color info
    //
    //
    //    }
    //  }
    //}
    min-height 150px
    margin-bottom 2rem
    .loading-inline{
      background-color transparent
      i{
        color inverse
        font-size 40px
      }
    }
  }

}