.chat-settings {
  padding 16px 8px
  &.darkMode{
    .chat-settings-dropdown-content{
      color commonTextDark
      .setting-row{



        &:hover{
          background-color lighten(darkNav, 10%)
        }
      }
    }
    .actions{
      .action{
        .icon-wrapper {
          &:hover{
            background-color lightGrey
          }
          i {

            color greyTextDark
          }
        }
      }
    }
  }
  .chat-settings-dropdown-content{
    padding 8px
    color commonTextLight
    .setting-row{
      padding 8px
      transition  all 0.1s ease
      background-color transparent
      border-radius 5px
      display flex
      cursor pointer
      align-items center
      i{
        font-size 2.2rem
        color greyTextLight

      }
      p{
        margin-left 15px
        color inherit
        font-size 1.5rem
        font-weight 500
        white-space nowrap
      }
      &:hover{
        background-color darken(white, 8%)
      }
    }
  }
  .actions {
    display flex
    justify-content flex-end
    align-items center
    .chat-settings-dropdown{
      .content-wrapper{
        .arrow{
          right 8px !important
          left unset
        }
      }
    }
    .action {
      margin-left 5px

      .icon-wrapper {
        position relative
        width 35px
        height 35px
        border-radius 50%
        cursor pointer
        transition all 0.1s ease
        &:hover{
          background-color darken(white, 15%)
        }
        i {
          absoluteMiddle()
          color lighten(#1a1a1a, 25%)
          font-size 1.8rem
        }
      }
    }

  }
}