.chat-settings {
  padding 16px 8px

  .actions {
    display flex
    justify-content flex-end
    align-items center
    .chat-settings-dropdown{
      .content-wrapper{
        .arrow{
          right 8px !important
          left unset
        }
      }
    }
    .action {
      margin-left 5px

      .icon-wrapper {
        position relative
        width 32px
        height 32px
        border-radius 50%
        cursor pointer
        transition all 0.1s ease
        &:hover{
          background-color darken(white, 15%)
        }
        i {
          absoluteMiddle()
          color lighten(#1a1a1a, 25%)
          font-size 1.8rem
        }
      }
    }

  }
}