.account-edit-route{
  max-width 1200px
  .multiple-tab-widget{
    .navigator{
      .each-nav{
        padding 8px 10px !important
      }
    }
  }
  .common-route-wrapper{
    min-height 200px
    border-radius 0 0 4px 4px
    .loading-inline{
      i{
        font-size 25px
      }
    }

  }
}