.settings-layout {
  .settings-layout-wrapper {
    padding 20px 0

    .settings-left-panel
    .settings-right-panel {
      display inline-block
      vertical-align top
    }

    .settings-left-panel {
      width 40%
      padding-right 15px
    }

    .settings-right-panel {
      width 60%
    }
  }
}