.login-route{
  width 100vw
  height 100vh
  background linear-gradient(to right bottom, rgba(white, 0.8), rgba(info, 0.8)), url(/assets/images/bg-01.jpg) no-repeat center center fixed
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .login-form-wrapper{
    display flex
    height 100vh
    justify-content center
    align-items center
    .login-form-inner{
      flex: 0 0 45rem;
      background-color white
      border-radius 4px
      padding 20px 0
      .wrapper{


        border-bottom 1px solid common-border
        padding-bottom 1.7rem
      }
      .login-form__body{
        .form-actions{
          margin-top 15px
        }
        .main-title{
          font-size 2.4rem
          font-weight 550
          color info
          padding 1.5rem 20px
        }
        .form-wrapper{
          padding 0 20px
          padding-bottom 10px
        }
        .navigate-btn{
          text-align right
          span{
            color tikiblue
            font-size 1.3rem
            cursor pointer
            &:hover{
              color darken(tikiblue, 10%)
            }

          }
        }
      }
      .login-form__header  {
        padding 0 20px

        .header-logo{
          display flex
          justify-content center
          align-items center

          .header-logo__image{
            width 100px
            height 100px
            position  relative
            border-radius 50%
            overflow hidden
            img{
              width 100%
              absoluteMiddle();
            }
          }

          .header-logo__title {
            p{
              font-size 2rem

              text-align center
              &:last-child{
                font-size 2.1rem
                font-weight 550
              }
            }

          }
        }



      }
    }
  }


}