.schedule-route {
  max-width 1200px !important
  .common-route-wrapper{
    padding 20px
  }

  .table-actions{
    justify-content flex-start !important
    .spec-select{
      flex 0 0 36% !important
      margin-right 15px
    }
  }
}