.forgot-password-route{
  .forgot-password-step-1{
    border 1px solid common-border
    padding 15px 20px
    margin-top 20px
    border-radius 4px
    .resend-token{
      margin-top 10px
      font-size 14px
      span{
        cursor pointer
      }
    }

  }
  .forgot-password-widget{
    margin auto
    margin-top 80px
    width 500px
    .forgot-password-step-0{
      .toggle-mode{
        padding 5px 6px
        font-size 1.3rem
        border-radius 3px
        margin-top 8px
        color white
        text-align center
        cursor pointer
        &.phone{
          background-color success
          &:hover{
            background-color darken(success, 15%)
          }
        }
        &.email{
          background-color gmailOrange
          &:hover{
            background-color darken(gmailOrange, 15%)
          }
        }
      }
      .to-sign-up{
        margin-top 20px
        text-align right
        font-size 1.4rem
        .navigate{
          font-size 1.4rem
          margin-left 5px
          text-decoration underline !important
        }
      }
    }
    .change-password-tab{
      margin-top 20px
      .next-btn{
        margin auto
        display block
        width 200px
        margin-top 30px
        font-size 1.6rem !important
        font-weight 500 !important
      }
      .change-password-tab-title{
        color #1a1a1a
        font-weight 400
        font-size 1.5rem
        margin-bottom 20px
      }
    }
    .forgot-password-title{
      font-size 2.6rem
      font-weight bold
      span{
        &.email{
          color gmailOrange
        }
        &.phone{
          color success
        }
      }
    }
  }

}