.post-notification{
  padding 16px
  display flex
  width 350px
  align-items center
  .avatar-wrapper{
    flex 0 0 50px

  }
  .content-wrapper{
    flex 0 0 calc(100% - 50px)
    font-size 1.4rem
    .from-now{
      color greyTextLight
      font-weight 500
      font-size 1.3rem
    }
    .content{
      display block
      white-space nowrap
      overflow-x hidden
      text-overflow ellipsis
    }
  }
}