.post-notification{
  padding 16px
  display flex
  width 300px
  align-items center
  .avatar-wrapper{
    flex 0 0 50px

  }
  .content-wrapper{
    flex 0 0 calc(100% - 50px)
    font-size 1.4rem
  }
}