.create-post-main{
  .post-config{
    padding 8px
    display flex
    align-items center
    justify-content space-between
    .pc-label{
      font-size 1.5rem
      font-weight 500
    }
  }
  .cpm-wrapper{
    position relative
    .cpm-body{
      .actions-bar{
        margin-top 15px
        border 1px solid common-border
        border-radius 5px
        padding 8px
        display flex
        align-items center
        & > div{
          flex-grow 1
        }
        .bar-title{
          font-size 1.5rem
          font-weight 500
          line-height 100%
        }
        .actions{
          display flex
          justify-content flex-end
          align-items center
          & > div{
            &:not(:last-of-type){
              margin-right 8px
            }
          }
          .action{
            margin-right 5px
            border-radius 50%
            width 36px
            height 36px
            position relative
            cursor pointer
            &.media{
              color success
            }
            &.file{
              color danger
            }
            &.tag{
              color primaryButton
            }
            &:hover{
              background-color darken(white, 8%)
            }
            i{
              font-size 2rem
              absoluteMiddle()
            }
          }
        }
      }

      .cpm-input-wrapper{
        position relative
        margin-bottom 15px
        .cpm-entry{
          cursor pointer
          padding 8px
          &:hover{
            background-color darken(white, 3%)
          }
          .content-wrapper{
            display flex
            align-items center
            .common-avatar{
              width 34px
              height 34px
              .avatar-holder{
                span{
                  font-size 1.4rem
                }
              }
            }
            .user-info{
              flex-grow 1
              padding-left 10px
              .username{
                font-weight 500
                color commonTextLight
                font-size 1.4rem
                line-height 100%
                textOverflowEllipsis()
              }
              .nickname{
                line-height 100%
                margin-top 3px
                font-size 1.2rem
                color commonTextLight
                textOverflowEllipsis()
              }
            }
          }
        }
        //.cpm-mention-popover{
        //  overflow: hidden;
        //  border-radius: 5px;
        //  position: absolute;
        //  width 100%
        //
        //  left: 0;
        //  background-color white
        //  box-shadow 0 5px 6px #D1D1D1
        //  max-height 200px
        //  overflow-y auto
        //
        //}
        .cpm-input{
          overflow-x hidden
          .emoji-mart-emoji{
            vertical-align middle
          }
          & > div{
            position relative
          }

          margin-top 15px
          width 100%
          position relative
          min-height 100px
          max-height 300px
          cursor text
          overflow-y auto
          .create-post-mention{
          color lightMentionText
          background-color lightMentionBg
          padding 1px 0
          &:hover{
            color lightMentionText !important
            background-color lightMentionBg !important
          }
          &:focus{
            color lightMentionText !important
            background-color lightMentionBg !important
          }

        }
          &.collapsed{
            min-height 60px
            max-height 200px
          }
        }
        .emoji-picker{
          bottom 0
          top 100%
          left 200px
        }
        .emoji-select{
          text-align right
          i{
            font-size 2.5rem
            cursor pointer
            color greyTextLight

          }
        }
      }
    }
    .cpm-header{
      display flex
      align-items center
      .avatar-wrapper{
        flex 0 0 50px

      }
      .right-panel{
        flex 0 0 calc(100% - 50px)
        .username{
          color commonTextLight
          font-weight 500
          font-size 1.5rem
        }
        .action{

          .select-dropdown{
            z-index 2
            background white
          }
          .policy-picker{
            width 150px
            .post-policy{
              span{
                &:last-of-type{
                  margin-left 6px
                }
              }
            }
            .select-toggle{
              padding 4px 8px !important

            }

          }
        }
      }
    }
  }
}