.dating-header {
    background: tinderPink;
    height: 60px;
    padding: 10px 10px;

    .header-avatar {
        display: inline;
        margin-left: 20px;
    }

    h2 {
        display: inline;
        margin-left: 20%;
    }
}
