.dating-header {
    background: tinderGradientBg;
    height: 60px;
    padding: 10px 10px;
   
    .header-avatar {
        display: inline;
        margin-left: 20px;
        cursor pointer
        
    }

    h2 {
        cursor : context-menu
        display: inline;
        margin-left: 20%;
    }
}
