.about-panel{
  margin-top 24px
  .ap-header{
    display flex
    justify-content space-between
    align-items center
    .ap-label{
      font-size 1.8rem
      font-weight 500
      i{
        font-size 2.2rem
        margin-right 6px
        color greyTextLight
      }
    }
  }
}