.message-utilities{
  padding 8px
  position relative
  .reply-panel{
    padding 8px 0
    font-size 1.3rem
    padding-right 30px
    position relative
    .content{
      color greyTextLight
      textOverflowEllipsis()
      font-size 1.3rem
    }
    .top-text{
      color commonTextLight
    }
    .icon-wrapper{
      position absolute
      top 2px
      right 2px
      width 18px
      height 18px
      display flex
      justify-content center
      border-radius 50%
      cursor pointer
      &:hover{
        background-color btnCancelLight
      }
      align-items center
      i{
        font-size 1.5rem
      }
    }
  }
  .files-display{
    margin-bottom 6px
    overflow-x auto
    .files-container{


      display flex
      align-items center
      height 65px
      .add-file{
        background-color bgLight
        width 50px
        height 50px
        border-radius 5px
        display flex
        align-items center
        justify-content center
        cursor pointer
        transition background-color 0.1s ease
        &:hover{
          background-color darken(bgLight, 5%)
        }
        i{
          font-size 3rem
          color commonTextLight

        }
      }
    }
  }
  .actions-container{
    display flex
    justify-content space-between
    align-items flex-end
    .chat-input-wrapper{
      width 190px
    }
    .icon-wrapper{
      position relative
      width 35px
      height 35px
      transition background-color 0.1s ease
      border-radius 50%
      cursor pointer
      i{
        absoluteMiddle()
        font-size 1.9rem !important
        color primaryButton
      }
      &:hover{
        background-color darken(white, 7%)
      }
    }
  }
}