.dating-chat-box-container {
    flex: 0 0 30%;
    background-color: white;
    border-right: 1px solid common-border;
    display: flex;
    height: 100vh;
    flex-direction: column;

    .dating-chat-header {
        display: flex;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid common-border;

        i {
            margin-left: 5px;
            font-size: 20px;
            color: primaryButton;
            font-weight: 600;
        }

        .dating-chat-avatar {
            margin: 10px;
        }

        p {
            font-weight: 500;
            font-size: 18px;
        }
    }
}