.dating-chat-box-container {
    flex: 0 0 30%;
    background-color: white;
    border-right: 1px solid common-border;
    display: flex;
    height: 100%;
    flex-direction: column;

    .dating-chat-header {
        display: flex;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid common-border;

        i {
            margin-left: 5px;
            font-size: 20px;
            color: primaryButton;
            font-weight: 600;
        }

        .dating-chat-avatar {
            margin: 10px;
            flex: 0 0 40px;
            height: 40px;
            .avatar-wrapper{
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 50%;
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }
        }

        p {
            font-weight: 500;
            font-size: 18px;
        }
    }
}