.force-register-route{
  max-width 1200px
  .common-route-wrapper{
    padding 20px
    min-height 200px
    overflow visible
    .select-wrapper{
      max-width 300px
      margin-top 20px
    }
    .force-step{
      margin-bottom 30px
      .step-title{
        font-size 1.5rem
        color inverse
        font-weight 500
        .hi-light{
          color info
        }
        .strong{
          font-size 1.6rem
          margin-right 10px
          color info
        }
      }
    }
  }
}