.create-post-modal{
  width 500px
  .btn-post{
    background-color btnCancelLight
    color commonTextLight
    margin 0 !important
    font-weight bold
    &:hover{
      background darken(btnCancelLight, 5%)
    }
  }

}