//Color
indigo=#3f51b5
dark-text=rgba(0, 0, 0, 0.87)
common-border=#d2d2d2
lightblue=#2196f3
primary=#01a9ac
grey=#e2e0e0
danger=#d9534f
success=#0ac282
tikiblue=#189eff
info=#17a2b8
info2=#2dcee3
warning=#fe9365
success2=#0ac282
danger2=#fe5d70
inverse=#404e67
disabled=rgba(135,144,159,.5)
sperm=#dcdcdc
orange2=#fe9365
lightgrey=#666
purple2=#404e67
navTextColor=#dcdcdc
orangeBorder=#fe8a7d
titleColor=#303548
breadcrumbs=#4a6076
sectionTitle=#505458
subTitle=#2c3e50
commonText=#353c4e