//Color

//Light theme
commonTextLight=#1a1a1a
bgLight=#f2f2f2
greyTextLight=#65676b
//Dark theme
commonTextDark=rgb(228, 230, 235);
bgDark=black
lightDark=#3a3b3c
darkNav=#242526
lightGrey=lighten(darkNav, 20%)
common-border-dark=#3e4042
greyTextDark=#b0b3b8

//Common
common-border=#d2d2d2
grey=#e2e0e0
danger=#d9534f
success=#0ac282
info=#17a2b8
warning=#fe9365
disabled=rgba(135,144,159,.5)
titleColor=#303548
sectionTitle=#505458
subTitle=#2c3e50
primaryButton=#2D88FF
gmailOrange=#d93025