//Color

//Light theme
commonTextLight=#1a1a1a
bgLight=#f0f2f5
greyTextLight=#65676b
btnCancelLight=#e4e6eb
normalTextLight=#050505
blueTextLight=#1876F2
iconColorLight=#444950
lightIcon=#65676b
lightMentionBg=rgba(24, 119, 242, 0.2)
lightMentionText=rgb(5, 5, 5)
activeIcon=#3578E5
secondaryTextLight=rgb(101, 103, 107)
secondaryBtnLight=rgb(228, 230, 235)
greySmallLight=#8a8d91
grayBackgroundLight= #bec3c9

//Dark theme
commonTextDark=rgb(228, 230, 235);
bgDark=#18191a
lightDark=#3a3b3c
darkNav=#242526
lightGrey=lighten(darkNav, 20%)
common-border-dark=#3e4042
greyTextDark=#b0b3b8
btnCancelDark=#393b3c
normalTextDark=#e4e6eb
blueTextDark=#2E89FF
iconColorDark=#CCCCCC

//Common
common-border=#d2d2d2
lightPrimary=#e7f3ff
grey=#e2e0e0
danger=#d9534f
success=#0ac282
info=#17a2b8
warning=#fe9365
disabled=rgba(135,144,159,.5)
titleColor=#303548
sectionTitle=#505458
subTitle=#2c3e50
primaryButton=#2D88FF
gmailOrange=#d93025
iconActive=#1877F2
hover=#e7f3ff
