.force-schedule-board{
  .subject-list{
    position relative
    margin-top 2rem
    min-height 150px
    margin-bottom 2rem
    .loading-inline{
      background-color transparent
      i{
        color inverse
        font-size 40px
      }
    }
  }
  .student-select{
    margin-top 15px
    display flex
    align-items center
    .label{
      color inverse
      font-weight 500
      font-size 1.5rem
      margin-right 1rem
    }
    .common-select{
      max-width 300px
    }
  }
}