.school-charge{
  margin 1.5rem 0
  .label{
    font-size 1.6rem
    margin-right 10px
    color inverse
    i{
      margin-right 6px
      font-size 2rem
      color #eeb501
    }
  }
  .value{
    font-size 1.6rem
    font-weight 500
    color info
  }
}