.all-listing-widget {
  padding: 20px 32px 0 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;

  .category-with-listing {
    max-width: 1872px;

    .category-header {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .category-name {
        font-size: 20px;
        font-weight: 700;
      }

      .see-category-listing {
        color: blueTextLight;
        font-size: 15px;
      }
    }
  }
}