.background-dropzone {

  position absolute
  z-index -1
  width 100%
  height 100%

  .background-dropzone-placeholder {
    display flex
    color greyTextLight
    justify-content center
    align-items center
    width 100%
    height 100%
    background-color rgba(white, 0.6)
    span{
      font-size 2rem
      font-weight 500
    }
  }
  &.window-on-drag{
    z-index 1
  }
  &.active-drag {
    pointer-events: none;
    border-color primaryButton
    .background-dropzone-placeholder {

      color primaryButton
    }

  }
}