.chat-box-header-user-info {



  display inline-block
  .toggle {
    padding 6px
    display inline-flex
    max-width 180px
    transition background-color 0.1s ease
    background-color white
    border-radius 5px
    cursor pointer
    position relative
    &:hover {
      background-color darken(white, 5%)
    }
    & > i {
      align-self center
      font-size 2.2rem
      margin-left 6px
    }

    .user-status {

      height 35px
      padding-left 8px

      .wrapper {
        height 35px
        display flex
        flex-direction column
        justify-content center

        .status {
          font-size 1.2rem
          font-weight 400
          line-height 1.2rem
          margin-top 5px
          overflow hidden
          white-space nowrap
          text-overflow ellipsis
        }

        .username {
          font-size 1.5rem
          font-weight 500
          overflow hidden
          white-space nowrap
          text-overflow ellipsis
          line-height 1.5rem
        }
      }
    }

    .avatar-wrapper {
      flex 0 0 35px;
      height 35px

      .status-avatar {
        width 35px
        height 35px

        .common-avatar {
          width 35px
          height 35px

          .avatar-holder {
            span {
              font-size 1.3rem
            }
          }
        }
      }
    }
  }

  .chat-box-menu {
    position absolute
    background-color white
    border-radius 8px
    box-shadow 0 0 15px 1px rgba(69, 65, 78, 0.2)
    padding 8px
    right calc(100% + 10px)
    top 0
    width 200px
    .menu-item{
      padding 8px
      transition background-color 0.1s ease
      background-color white
      display flex
      align-items center
      justify-content flex-start
      border-radius 4px
      .icon{
        font-size 2rem
        color #65676b
      }
      .label{
        font-size 1.5rem
        color commonTextLight
        margin-left 15px
        font-weight 500
      }
      &:hover{
        background-color darken(white, 3%)
      }
    }
  }






}