.chat-box-body{
  display flex
  flex-direction column
  height 406px
  position relative

  & > div{
    flex-grow 1
  }
}
.chat-box-header{
  padding 4px !important
  box-shadow:0px 2px 5px #D4D4D4

  .loading-wrapper{
    display flex
    align-items center
  }
  .actions{
    .small-icon{
      i{
        font-size 1.7rem !important
      }
      &.minimize{
        i{
          top 28% !important
        }
      }
    }
  }
}