.chat-box-header{
  padding 4px !important
  box-shadow:0px 2px 5px #D4D4D4
  .left-panel{
    .chat-info{
      max-width 180px
      transition background-color 0.1s ease
      background-color white
      border-radius 5px
      cursor pointer
      &:hover{
        background-color darken(white, 5%)
      }

      padding 5px
      display inline-flex
      & > i{
        align-self center
        font-size 2.2rem
        margin-left 6px
      }
      .user-status{

        height 35px
        padding-left 8px
        .wrapper{
          height 35px
          display flex
          flex-direction column
          justify-content center
          .status{
            font-size 1.2rem
            font-weight 400
            line-height 1.2rem
            margin-top 3px
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
          }
          .username{
            font-size 1.5rem
            font-weight 500
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
            line-height 1.5rem
          }
        }
      }
      .avatar-wrapper{
        flex 0 0 35px;
        height 35px

        .status-avatar{
          width 35px
          height 35px
          .common-avatar{
            width 35px
            height 35px
            .avatar-holder{
              span{
                font-size 1.3rem
              }
            }
          }
        }
      }
    }
  }
  .loading-wrapper{
    display flex
    align-items center
  }
  .actions{
    .small-icon{
      i{
        font-size 1.7rem !important
      }
      &.minimize{
        i{
          top 28% !important
        }
      }
    }
  }
}