.float-bottom-widget{
  position fixed
  bottom 15px
  right 15px
  &.darkMode{
    .message-widget-header{

      .right-panel{
        .actions{
          .icon-wrapper{

            &:hover{
                background-color lighten(darkNav, 10%)
            }
            i{
              absoluteMiddle()
              font-size 2.4rem
              color primaryButton
            }
          }
        }
      }
    }
    .fbw-container{

      .fbw-box{

        .search-message-header{

          .search-message-title{
            color commonTextDark

          }

        }
      }
    }
  }
  .fbw-container{
    position relative
    .fbw-box{
      position absolute
      right 70px
      bottom 0
      .search-message-header{
        padding 8px 16px !important
        .search-message-title{
          color commonTextLight
          font-size 1.6rem
          font-weight 500
        }

      }
    }
  }
  .message-widget-header{
    display flex
    align-items center
    padding 8px
    flex-wrap wrap

    .left-panel{
      flex 0 0 55%
    }
    .right-panel{
      flex 0 0 45%
      .actions{
        display flex
        align-items center
        justify-content flex-end
        .icon-wrapper{
          width 30px
          height 30px
          border-radius 50%
          cursor pointer
          position relative
          margin-left 3px
          transition background-color 0.1s ease
          &:hover{
            background-color darken(white, 8%)
          }
          i{
            absoluteMiddle()
            font-size 2.4rem
            color primaryButton
          }
        }
      }
    }
  }
}