.marketplace-menu-section{
  padding: 3px 0;
  .create-listing-button{
    display: flex;
    margin: 8px 16px;
    justify-content: center;
    align-items: center;
    color: blueTextLight;
    background-color: hover;
    border-radius: 8px;
    height 36px;
    i{
      font-size: 15px;
      padding-right: 6px;
      font-weight: 500;
    }
    .create-lb-title{
      font-weight: 600;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      white-space: nowrap
      line-height: 1.3333;
    }
    &:hover{
      background-color: darken(hover, 5%);
      cursor pointer
    }
  }

  .line-seperate{
    border-bottom: 1px solid lightgray;
    margin: 0 16px;
  }
}