.dating-route {
    position: relative;

    .dating-home {
        display: flex;
        height: 100 vh;

        .left-panel {
            flex: 0 0 30%;
            background-color: red;
        }

        .right-panel {
            flex: 0 0 70%;
        }
    }
}