.dating-route {
    position: relative;

    .dating-home {
        display: flex;
        height: 100 vh;

        .left-panel {
            flex: 0 0 30%;
            background-color: pink;
        }

        .dating-home-tab {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 20px;

            .tab-button {
                font-weight: 600;
                font-size: 13px;
            }
        }

        .right-panel {
            flex: 0 0 70%;
        }
    }
}