.dating-route {
    position: relative;

    .dating-home {
        display: flex;
        height: 100 vh;

        .right-panel {
            flex: 0 0 70%;
        }
    }
}

.dating-left-panel {
    flex: 0 0 30%;
    background-color: bgLight;

    .dating-home-tab {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        background-color: white;

        .tab-button {
            flex-grow: 1;
            font-weight: 600;
            font-size: 13px;
            text-align: center;
            cursor: pointer;
            padding: 8px;
            border-bottom: 3px solid transparent;

            &.active {
                border-bottom-color: tinderPink;
            }
        }
    }
}