.img-box{
    flex 0 0 60px 
    height :80px
    position : relative
    overflow hidden
    margin-right : 5px
    margin-bottom: 5px
    img{
        width : 100%
        height : 100%
        absoluteMiddle()
        object-fit: cover
    }
    .remove{
        position: absolute
        bottom : 5px
        right: 5px
        cursor: pointer
        font-size:1.6 rem
        z-index :2
        color : red
    }
}