.market-search-container{
    .market-search-wrapper{
        margin: 4px 0px 12px 0px;
        .icon-round-border-input{
            margin: 0px 16px;
            padding: 0;
            border: 0;
            .irbi-input{
            background-color darken(white, 5%)
        }
        }
        
    }
}