.sign-up-form{
  margin-top 50px
  max-width 400px
  .sign-up-form-row{
    margin-bottom 10px
  }
  .register-btn{
    margin-top 20px
    font-size 1.6rem
    font-weight 500
    padding 8px
    width 250px
    text-align center
  }
}