.common-select{
  font-size 1.3rem
  margin-bottom 1.2rem
  .select-wrapper{
    position relative
    .select-toggle{
      width 100%
      font-size 1.4rem
      height auto !important
      padding 6px 12px  !important
      color #495057
      font-weight 400
      border 1px solid #ced4da
      border-radius 0.25rem
    }
  }
  .select-label{
    color #1a1a1a
    font-weight 500
    font-size 1.4rem
  }
  .invalid-feedback {
      font-size 1.2rem
      color danger
      margin-top 8px
    }
}