.common-select {
  font-size 1.3rem
  margin-bottom 1.2rem

  &.focus {
    .select-toggle {
      border-color primaryButton !important
    }
  }

  .select-wrapper {
    position relative

    .select-toggle {
      width 100%
      font-size 1.4rem
      height auto !important
      padding 6px 12px !important
      color #495057
      font-weight 400
      border 1px solid #ced4da
      background-color white
      border-radius 0.25rem
      position relative
      cursor pointer
      &.clearable{
        padding-right 20px !important
      }
      .clear-value{
        position absolute
        top 50%
        transform translateY(-50%)
        right 6px
        cursor pointer
        font-size 1.8rem
      }
      &:hover {
        border-color primaryButton
      }

      &.disabled {
        background-color darken(white, 5%)
        pointer-events none
        cursor none
      }
    }

    .select-dropdown {
      position absolute
      top 101%
      left 0
      width 100%
      overflow-y auto
      max-height 200px
      background-color white
      border 1px solid common-border
      color #1a1a1a
      font-size 1.4rem
      z-index 1

      .select-option {
        padding 5px 10px
        cursor pointer

        &:hover {
          background-color darken(white, 5%)
        }

        &.disabled {
          background-color darken(white, 5%)
          pointer-events none
          cursor none
        }

        &.selected {
          background-color primaryButton
          color white
        }
      }
    }
  }

  .select-label {
    color #1a1a1a
    font-weight 500
    font-size 1.4rem
  }

}