.common-avatar{
  display inline-block
  vertical-align middle
  width 40px
  height 40px
  overflow hidden
  border-radius 50%
  margin auto
  position relative
  .avatar-holder{

    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    background-color primaryButton
    span{
      color white
      font-weight 600
      font-size 20px
    }
  }
  img{
    absoluteMiddle()
    height 101%
  }
}