.file-config{
  white-space nowrap
  .left-panel{
    display inline-block
    vertical-align top
    width 360px
    padding: 16px
    .caption-input{
      label{
        font-size 1.5rem
      }
      textarea{
        height 100px !important
        font-size 1.4rem
      }
    }
  }
  .right-panel{
    display inline-block
    vertical-align top
    width 640px
  }
}