.settings-block-route{
  .sbr-sub{
    padding 12px
    font-size 1.4rem
    color greyTextLight
    ul{
      li{
        padding-left 10px
      }
    }
  }
  .sr-body{
    padding 0 12px
  }
  .each-block{
    padding 12px 0
    border-bottom 1px solid common-border
    display flex
    justify-content space-between
    align-items center
    .block-info{
      display flex
      align-items center
      .block-username{
        margin-left 5px
        font-size 15px
        font-weight 500
      }
    }
  }
}