.register-dating-form{
    .wrap{
        margin-bottom: 20px
        margin-top: 50px
        .title{
            font-size: 1.9rem
            font-weight: 500
            margin-bottom :20px
            justify-content: center
            align-items: center
            display: flex
            flex-direction: row
            .dash{
                background-color: common-border
                height : 1px
                width : 200px
            }
            .text-title{
                margin : 0 30px
                font-style: italic
            }
        }
        .row-wrapper{
            display: flex;
            align-items: center
            justify-content: space-between
            .dr-input{
                flex 0 0 30%
                padding : 0
            }
            .age-layout {
            flex 0 0 30%
            height : 56px
            border: 1px solid lightgray 
            border-radius: 6px;
            padding: 26px 16px 10px;
            position relative
            background-color: white
            .label{
                position absolute
                transition-property: transform;
                transition-duration: 200ms;
                transform: scale(.75) translateY(-11px);
                transform-origin: top left;  
                color: gray;
                font-weight: 400;
                left: 16px;
                font-size: 16px;
                white-space: nowrap;
                line-height: 20px;
                top: 18px;
                max-width 100%;
                right: 8px;
            }
            .value{
                font-size: 16px;
                padding-left: 5px
            }
        }
        }
        
    }
}
