.feed-widget{
  padding 0 15px
  max-width 600px
  margin auto
  .loading-panel{
    position relative
    background-color transparent
    height 100px
    .loading-inline{
      i{
        font-size 3.5rem
        color primaryButton
      }
    }
  }
  .need-reloaded{
    margin-top 20px
    padding 16px
    text-align center
    .til{
      text-align center
      color commonTextLight
      font-size 1.8rem
      font-weight 500
    }
    .btn-reloaded{
      width 200px
      margin-top 15px
      font-size 1.6rem !important
      font-weight 500
    }
  }
}

.post-creation-box{
  display flex
  align-items center
  padding 12px 15px
  .avatar-wrapper{
    flex  0 0 40px

  }
  .placeholder{
    flex 0 0 calc(100% - 50px)
    margin-left 10px
    padding 8px 12px
    background-color bgLight
    border-radius 20px
    font-size 1.6rem
    cursor pointer
    &:hover{
      background-color darken(bgLight, 5%)
    }
    color greyTextLight
  }
}
.white-box{
  border-radius 5px
  background-color white

  color commonTextLight
  box-shadow:0px 1px 2px #C4C4C4
}