.account-new-route{
  max-width 1200px
  .steps-line-item{
    background-color white !important
  }
  .step-details{
    background-color white !important
  }
  .common-route-wrapper{
    min-height 200px
    border-radius 0 0 4px 4px
    padding 20px 0
    .loading-inline{
      i{
        font-size 25px
      }
    }

  }
}