.connection-modal{
  .modal-body{
    .content-wrapper{
      display flex
      align-items center
      i{
        color danger
        font-size 40px
      }
      .text{
        margin-left 15px
      }
    }
  }
}