.disabled-class-modal{
  width 800px

  .lessons-container{
    min-height 150px
    .success-notify{
      text-align center

      span{
        font-size 18px
        color inverse
        display inline-block
        vertical-align middle
        font-weight 500
      }
      i{
        font-size 30px
        color success
        margin-right 15px
        display inline-block
        vertical-align middle
      }
    }
    .loading-inline{
      i{
        font-size 40px !important
      }
    }
    .dcm-modal-title{
      font-size 1.6rem
      font-weight 500
      color inverse
      span{
        color info
      }
    }
    .lessons{
      max-height 500px
      overflow-y auto
      margin-top 15px
      .each-lesson{
        padding 12px 0
        .lesson-order{
          font-weight 500
          color info
        }
        &:not(:last-child){
          border-bottom 1px solid common-border
        }
        font-size 1.5rem
        color commonText
        .lesson-class{
          &:not(:first-child){
            margin-left 8px
          }
          .class-name{
            font-weight 500
          }
          .day{
            margin-left 10px
          }
          .shift{
            margin-left 10px
          }
          .slot{
            margin-left 10px
            &.notReachMin{
              color danger
            }
          }
        }
      }
    }
  }
}