.marketplace-filter-section{
  margin-bottom: 12px
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  .marketplace-filter-title{
    padding: 12px 16px 4px 16px;
    font-size: 17px;
  }
  .marketplace-filter-props{
    margin: 0 8px;
    border-radius: 8px
    &:hover{
        cursor pointer
        background-color: lightPrimary
      }
    .filter-by-position{
      color: blueTextLight;
      font-size: 15px;
      font-weight: 600;
      padding: 4px 8px;
      
    }
  }
}