.post-files-preview-modal{
  width 1200px
  white-space nowrap
  display flex
  align-items flex-start
  .file-panel{
    flex 0 0 calc(100% - 350px)
    height 600px
    position relative
    .file-container{
      background-color black
    }
  }
  .describe-panel{
    flex 0 0 350px
  }
}