.your-saved-listing {
  padding: 20px 32px 0 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 60px);

  .saved-listing-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
  }

  .saved-listing-empty-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .saved-listing-empty {
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 354px;

      .empty-icon {
        margin-bottom: 10px;

        img {
          border-radius: 20px;
          height: 112px;
          width: 112px;
        }
      }

      .empty-message {
        text-align: center;
        word-break: break-word;
        color: secondaryTextLight;
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}