.search-message-box{
  .results-box{
    padding 8px
    position: relative;
    height 360px
    .results{
      .empty-panel{
        padding 16px
        padding-top 50px
        text-align center
        font-size 1.5rem
        font-weight 500
        color greyTextLight
      }
    }
    .loading-inline{
      i{
        font-size 3.2rem
      }
    }
  }
  .search-box{
    padding 8px
    border-top 1px solid common-border
    border-bottom 1px solid common-border
    .common-input{
      width 100%
      margin-bottom 0 !important
      input{
        width 100%
        padding 8px !important
        border none !important
        font-size 1.5rem !important
      }
    }
  }
}