.search-message-box {
  &.darkMode {
    .search-box {
      border-top-color common-border-dark !important
      border-bottom-color common-border-dark !important

      .common-input {

        input {
          background-color transparent
          color commonTextDark
          &::placeholder{
            color commonTextDark
          }
        }
      }
    }

    &::-webkit-scrollbar-thumb {
      background: common-border-dark !important;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: darken(common-border-dark, 5%) !important
    }

    .results {
      .result-list {

        .list-title {
          color greyTextDark !important

        }

        .list {
          .list-row {
            p{
              color commonTextDark
            }
            &:hover {
              background-color lighten(bgDark, 10%) !important
            }


          }
        }
      }

      .empty-panel {

        color greyTextDark
      }
    }
  }

  .results-box {
    padding 8px
    position: relative;
    height 360px
    overflow-y auto

    &::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px transparent;
    }

    /* Handle */

    &::-webkit-scrollbar-thumb {
      background: common-border;
      border-radius 5px
    }

    /* Handle on hover */

    &::-webkit-scrollbar-thumb:hover {
      background: darken(common-border, 5%)
    }

    .results {
      .result-list {
        &:not(:last-of-type) {
          margin-bottom 8px
        }

        .list-title {
          color greyTextLight
          font-size 1.5rem
          font-weight bold
          margin 8px
        }

        .list {
          .list-row {
            display flex
            align-items center
            transition all 0.1s ease
            cursor pointer
            padding 8px
            position relative
            border-radius 5px

            &:hover {
              background-color darken(bgLight, 5%)
            }

            p {
              flex-grow 1
              margin-left 12px
              font-size 1.4rem
              padding-right 20px
              white-space pre-wrap
              overflow hidden
              text-overflow ellipsis
            }

          }
        }
      }

      .empty-panel {
        padding 16px
        padding-top 50px
        text-align center
        font-size 1.5rem
        font-weight 500
        color greyTextLight
      }
    }

    .loading-inline {
      i {
        font-size 3.2rem
      }
    }
  }

  .search-box {
    padding 8px
    border-top 1px solid common-border
    border-bottom 1px solid common-border

    .common-input {
      width 100%
      margin-bottom 0 !important

      input {
        width 100%
        padding 8px !important
        border none !important
        font-size 1.5rem !important
      }
    }
  }
}