.search-message-box{
  .search-box{
    padding 8px
    border-top 1px solid common-border
    border-bottom 1px solid common-border
    .common-input{
      width 100%
      margin-bottom 0 !important
      input{
        width 100%
        padding 8px !important
        border none !important
        font-size 1.5rem !important
      }
    }
  }
}