.reply-content{
  pointer-events none

  margin-bottom -12px
  border-radius 18px
  background-color btnCancelLight
  overflow hidden
  color commonTextLight
  display inline-block
  font-size 1.5rem
  opacity 0.6
  max-width 100%
  &.owned{
    background-color primaryButton
    color white
  }
  .content{
    padding 8px 12px
  }
}