
.about-field-form{
  .form-body{
    display flex
    align-items flex-start
    justify-content space-between
    .form-content{
      flex-grow 1
      padding-right 20px
      .aff-form-row{
        display flex
        align-items flex-start
        .form-label{
          flex 0 0 33%
          font-size 1.6rem
          color commonTextLight
        }
        .form-input{
          flex-grow 1
        }
      }
      .relation-relate{
        font-size 1.3rem !important
      }
      .location-pickers{
        display flex
        align-items center

        .location-picker{
          margin-bottom 8px !important
          flex 0 0 32%
          &:not(:last-of-type){
            margin-right 2% !important
          }

        }
      }
    }

  }
  .aff-form-actions{
    display flex
  }

}