
.about-field-form{
  .form-body{
    display flex
    align-items flex-start
    justify-content space-between
    .form-content{
      flex-grow 1
      padding-right 50px
      .relation-relate{
        font-size 1.3rem !important
      }
    }

  }

}