.authen-navbar{
  background-color white
  position fixed
  z-index 2
  width 100%
  top 40px
  &.darkMode{
    background-color darkNav
  }
  &.stay-top{
    top 0
  }
  .authen-navbar-container{
    padding 0 10px
    display flex

    justify-content space-between
    .authen-navbar-center{
      flex 0 0 calc(100% - 630px)

    }
    .authen-navbar-right{
      flex 0 0 300px
      color red

    }


    .authen-navbar-left{
      position relative
      flex 0 0 330px
      .app-brand-container{
        width 103px
        vertical-align middle
        display inline-block

      }
      .search-container{
        width 227px
        vertical-align middle
        display inline-block
      }
    }

  }
}