.authen-navbar{
  background-color white
  border-bottom 1px solid common-border
  position fixed
  z-index 2
  width 100%
  top 40px
  &.stay-top{
    top 0
  }
  .authen-navbar-container{
    padding 6px 10px
    .authen-navbar-left{
      position relative
      width 330px
      .app-brand-container{
        width 103px
        vertical-align middle
        display inline-block

      }
      .search-container{
        width 227px
        vertical-align middle
        display inline-block
      }
    }

  }
}