.user-action {
  display flex
  justify-content flex-end
  align-items center
  height 100%
  position relative

  &.darkMode {
    .user-action-dropdownable{
      .dropdown{
        border 1px solid darkNav;
      }
    }
    .nav-dropdown {
      background-color darkNav
      .separate{
        background-color common-border-dark
      }
      color commonTextDark !important
      .nav-dropdown-row {
        &.profile-navigator{
          .sub {
            color lighten(commonTextDark, 20%)
            font-size 13px
          }
        }
        &:hover{
          background-color lighten(darkNav, 5%)
        }
      }
    }

    .user-specific-action {

      .content{
        color commonTextDark
      }
      .icon-wrapper {
        background-color lighten(darkNav, 15%)
        border none !important
        i{
          color commonTextDark
        }

      }
    }

    .toggle {
      .circle-action {
        border none !important
        background-color lightGrey

        i {
          color commonTextDark !important
        }
      }

      &:not(.active) {
        .circle-action {
          &:hover {
            background-color lighten(darkNav, 10%) !important
          }

        }
      }

      &.active {
        .circle-action {

          border-color lightGrey
          background-color lightGrey

          i {
            color primaryButton !important
          }
        }
      }
    }


  }

  .user-action-dropdownable {
    flex 0
    margin-left 15px

    .user-action-tooltip {
      height 100%

      .tooltip-content {
        margin-top 6px !important
      }
    }

    .dropdown {
      position absolute
      top 100%
      right 0
      background-color white
      width 100%
      border-radius 5px
      border 1px solid common-border
      box-shadow 0 0 15px 1px rgba(69, 65, 78, 0.2)
    }

    .toggle {
      cursor pointer
      height 40px
      &:not(.active) {
        .circle-action {
          &:hover {
            border-color primaryButton
          }
        }
      }

      &.active {
        .circle-action {
          border-color lighten(#1a1a1a, 20%)
          background-color lighten(#1a1a1a, 20%)

          i {
            color white
          }
        }
      }
    }

    .circle-action {
      border-radius 50%
      width 40px
      border 1px solid common-border
    }

    .avatar-wrapper {
      display inline-block
      vertical-align middle
      width 40px
      height 40px
      overflow hidden
      border-radius 50%
      margin auto
      position relative

      .avatar-holder {

        width 100%
        height 100%
        display flex
        justify-content center
        align-items center
        background-color primaryButton

        span {
          color white
          font-weight 600
          font-size 15px
        }
      }

      img {
        absoluteMiddle()
        height 41px
      }
    }

    .circle-action {


      height 40px
      position relative
      background-color white

      transition all 0.1s ease

      i {
        absoluteMiddle()
        font-size 20px
        color lighten(#1a1a1a, 20%)

      }
    }
  }
}

.user-specific-action {

  .nav-dropdown-row {
    .night-mode{
      position relative
      .night-mode-toggle{
        position absolute
        top 50%
        transform translateY(-50%)
        right 0
      }
    }
    &.profile-navigator {
      text-align center

      .username {
        color inherit
        font-size 18px
        text-align center
        margin 5px 0
        font-weight 700
      }

      .sub {
        color lighten(commonTextLight, 20%)
        font-size 13px
      }

      .nav-dropdown-avatar {
        width 70px
        height 70px
        display inline-block

        span {
          font-size 26px
        }
      }
    }
    .icon-wrapper {
      border-radius 50%
      background-color white
      border 1px solid common-border
      width 35px
      height 35px
      display inline-block
      vertical-align middle
      position relative

      i {
        absoluteMiddle()
        font-size 18px
        color lighten(#1a1a1a, 20%)
      }
    }

    .content {
      width calc(100% - 40px)
      display inline-block
      vertical-align middle
      padding-left 10px
      color #1a1a1a
      font-size 15px
      font-weight 500

    }
  }
}

.nav-dropdown {
  padding 8px
  color commonTextLight
  .separate {
    margin 8px 8px
    height 1px
    background-color common-border
  }

  .nav-dropdown-row {
    padding 8px
    border-radius 5px
    cursor pointer
    transition all 0.1s ease
    color inherit
    &:hover {
      background-color darken(white, 5%)
    }


  }
}