.pick-listing-type-widget{
  display: flex;
  align-self: center;
  width 100%;
  margin: 0 40px;
  justify-content: center;  
  height 100vh
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  .pick-listing-title-wrapper{
    display: flex;
    flex-direction row
    width: 100%
    margin: -6px;
    padding: 16px 12px 0 12px;
    .pick-listing-title{
      font-size: 20px;
      color: normalTextLight;
      font-weight: 700;
      line-height: 1.2;
    }  
  }
}