.pick-listing-type-widget{
  display: flex;
  width calc(100%-80px);
  margin: 0 40px;
  justify-content: center; 
  align-items: center; 
  height 90vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  box-sizing: border-box;
  .pick-listing-title-wrapper{
    margin: -6px;
    padding: 16px 12px 0 12px;
    .pick-listing-title{
      font-size: 20px;
      color: normalTextLight;
      font-weight: 700;
      line-height: 1.2;
    }  
  }

  .pick-listing-type-wrapper{
    display: flex;
    flex-direction row
    flex-wrap: wrap;
    margin-top: 8px;
  }
}