.multiple-tab-widget{
  .content{
    margin-top 20px
  }
  .navigator{
    display flex
    .each-nav{
      flex-grow 1
      text-align center
      padding 6px 10px
      color white
      background-color info
      &.disabled{
        pointer-events none
        opacity 0.6
      }
      &:not(.active){
        cursor pointer
      }
      transition all 0.1s ease
      font-size 15px
      font-weight 500
      &:not(.active):hover{
        background-color darken(info, 15%)
      }
      &.active{
        color info
        background-color white
      }
    }
  }
}