.common-layout {

  &.extend-main{
    .main-widget{
      width 100% !important
      margin 0 !important
      padding-top 0 !important
    }
  }
  &.no-right{
    .main-widget {
      width calc(100% - 340px)
      //margin: 0;
      margin-left: 340px;
      //padding: 0;
      //height 90vh;
      //display flex;
      //justify-content: center;
    }
  }
  &.stay-down {
    .left-widget
    .right-widget
    //.main-widget
    {
      padding-top 96px
    }

  }

  .left-widget
  .right-widget {

    position fixed
    height 100vh
    padding-top 56px
  }

  .left-widget {
    // overflow auto
    left 0
    top 0
    width 340px
  }

  .right-widget {
    width 320px
    right 10px
    top 0
    //padding-right 10px
  }

  .main-widget {
    width calc(100% - 640px)
    //height 100vh
    //overflow-y auto
    margin auto
    padding-top 20px
  }
}