.file-display{
  display inline-block
  position relative
  height 50px
  background-color bgLight
  .loading-inline{
    i{
      fons-size 2.2rem
    }
  }
  .file-info{
    width 50px
    .file-wrapper{
      padding 4px 8px
      max-height 100%
      height 50px
      display flex
      align-items center
      justify-content center
      .icon-wrapper{
        height  33px
        flex 0 0 33px
        vertical-align middle
        background-color white
        border-radius 50%
        position relative
        i{
          color commonTextLight
          font-size 2rem
          absoluteMiddle()
        }

      }
      .filename{
        white-space pre-wrap
        overflow hidden
        text-overflow ellipsis
        padding-left 8px
        font-size 1.4rem
        font-weight 500
        flex 0 0 calc(100% - 33px)

      }
    }
    .img-wrapper{
      width 50px
      height 50px
      position relative
      overflow hidden
      img{
        max-height 50px
        max-width 50px
        absoluteMiddle()
      }
    }
  }
  margin-right 15px
  border-radius 5px
  &.common-file{
    .file-info{


      width 160px
    }

  }
  .close-icon{
    position absolute
    z-index 1
    top -6px
    right -6px
    width 22px
    height  22px
    border-radius 50%
    background-color white
    cursor: pointer;
    display flex
    justify-content center
    align-items center
    border 1px solid common-border
    &:hover{
      background-color darken(white, 5%)
    }
    i{
      font-size 1.8rem
      color commonTextLight
    }
  }
}