.upr-header{
  background-color white
  box-shadow:0px 1px 3px #CCCCCC
  .user-basic-info{
    padding 20px 0
    border-bottom 1px solid common-border
    .bio-editor{
      text-align center
    }
    .bio{
      text-align center
      & > p{
        margin-bottom 5px
        font-size 1.5rem
        font-weight 400

      }
      .edit-btn{
        display inline-block
        color primaryButton
        font-size 1.5rem
        font-weight 500
        cursor pointer

      }
    }
    .username{
      margin-bottom 15px
      text-align center
      font-size 3rem
      font-weight bold
    }
  }
  .user-avatar-section{
    position relative
    .avatar-uploader{
      position absolute
      left 50%
      transform translateX(-50%)
      bottom -20px

      .au-container{
        &:hover{
          .upload-overlay{
            display block
          }
        }
        .upload-actions{
          position absolute
          top calc(100% + 5px)
          left 50%
          transform translateX(-50%)
        }
        .upload-overlay{
          position absolute
          top 0
          left 0
          width 100%
          height 100%
          color white
          font-weight 500
          background-color rgba(black, 0.6)
          border-radius 50%
          text-align center
          font-size 1.8rem
          cursor pointer
          display none
          line-height 160px
        }
        .cancel-wrapper{
          position absolute
          top 10px
          left 10px
          width 20px
          height 20px
          display flex
          align-items center
          justify-content center
          cursor pointer
          background-color darken(bgLight, 3%)
          border-radius 50%
          i{
            font-size 1.5rem
          }
        }
        .upload-btn{
          position absolute
          width 36px
          height 36px
          border-radius 50%
          background-color darken(bgLight, 3%)
          &:hover{
            background-color darken(bgLight, 5%)
          }
          cursor pointer
          display flex
          align-items center
          right 5px
          top 110px
          justify-content center
          i{
            font-size 2rem
          }
        }
        .avatar-wrapper{
          border-radius 50%
          border 5px solid white
          width 160px
          height 160px
          overflow hidden
          background-color white
          .common-avatar{
            width 100%
            height 100%
            .avatar-holder{
              span{
                font-size 4.5rem
              }
            }
          }
          &>img{
            width 100%
            height 100%
            object-fit cover
          }
        }
      }

    }
    .cover-photo-uploader{
      background-color bgLight
      border-radius 0 0 5px 5px
      overflow hidden
      .cpu-container{
        position relative
        height 340px
        .cancel-wrapper{
          position absolute
          top 15px
          left 15px
          width 35px
          height 35px
          display flex
          align-items center
          justify-content center
          cursor pointer
          background-color darken(bgLight, 3%)
          border-radius 50%
          i{
            font-size 2rem
          }
        }
        .upload-actions{
          position absolute
          bottom 15px
          right 30px
        }
        .upload-btn{
          position absolute
          bottom 15px
          right 30px
          padding 10px 12px
          font-size 1.5rem
          color commonTextLight
          font-weight 500
          cursor pointer
          i{
            margin-right 6px
          }
          background-color btnCancelLight
          border-radius 5px

        }
        & > img{
          height 100%
          width: 100%;
          object-fit cover
        }
      }
    }
  }
}