.common-input {
  font-size 1.5rem
  margin-bottom 1.2rem
  label{
    color #404e67
    font-weight 500
    font-size 1.6rem
  }
  .invalid-feedback
  .valid-feedback {
    font-size 1.1rem
  }
  input{
    outline none
    font-size 1.5rem
    height auto !important
    padding 8px 15px  !important
  }
  .input-wrapper{
    position relative
  }
}
