.common-input {
  font-size 1.3rem
  margin-bottom 1.2rem
  label{
    color #1a1a1a
    font-weight 500
    font-size 1.4rem
  }
  .invalid-feedback
  .valid-feedback {
    font-size 1rem
  }
  input{
    width 100%
    outline none
    font-size 1.4rem
    height auto !important
    padding 6px 12px  !important
  }
  .input-wrapper{
    position relative
  }
}
