.common-input {
  font-size 1.3rem
  margin-bottom 1.2rem
  &.darkMode{
    input{
      color commonTextDark !important
      &::placeholder{
        color commonTextDark !important
      }
    }

  }
  label{
    color #1a1a1a
    font-weight 500
    font-size 1.4rem
  }

  input{
    width 100%
    outline none
    font-size 1.4rem
    height auto !important
    padding 6px 12px  !important
    &:disabled{
      pointer-events none
    }
    &:not(.is-invalid):hover{
      border-color primaryButton !important
    }
    &:not(.is-invalid):focus{
      border-color primaryButton !important
      outline none !important
      box-shadow none !important
    }
  }
  .input-wrapper{
    position relative
  }
}
