.icon-round-border-input{
  &.darkMode{
    border-left-color lighten(#242526, 15%)
    .irbi-input{
      color commonTextDark
      &:not(:focus):hover{
        background-color #3a3b3c !important
      }
    }
    .irbi-icon{

      i{
        color commonTextDark
      }
    }
  }
  padding-left 10px
  border-left 1px solid common-border


  .input-wrapper{
    position relative
    .irbi-icon{
      position absolute
      left 10px
      top 50%
      transform translateY(-50%)
      i{
        font-size 1.8rem
      }
    }
    .irbi-input{
      width 100%
      border-radius 200px
      padding 8px 10px
      font-size 14px
      padding-left 36px
      outline none
      border 1px solid transparent
      transition all 0.1s ease
      background-color transparent
      &:not(:focus):hover{
        background-color darken(white, 5%)
      }
      &:focus{
        border-color primaryButton
      }
    }
  }

}