.delete-listing-info {
  display: flex;
  gap: 15px;
  align-items: center;

  .sl-picture {
    width: 100px;
    height: 100px;

    img {
      border-radius: 6px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .sl-display-info {
    margin: 0 16px;

    .sl-basic-info {
      margin-bottom: 4px;
      color: normalTextLight;
      line-height: 1.1765;
      font-weight: 600;

      .sl-title {
        font-size: 17px;
      }

      .sl-price {
        font-size: 15px;
      }
    }

    .sl-addition-info {
      font-size: 13px;
    }
  }
}