.app{
  position relative
  .notification-prompt{
    padding 15px 0
    text-align center
    background-color primaryButton
    color white
    font-weight 500
    font-size 1.5rem
  }
  .main-route{
    position relative
  }
}