.contact-section {


  &.darkMode {
    .contact {

      .last-active {

        color greyTextDark
      }

      &:hover {
        background-color lighten(bgDark, 10%)
      }

      .username {
        color commonTextDark
      }
    }
  }

  .contact {
    display flex
    align-items center
    transition all 0.1s ease
    cursor pointer
    padding 8px
    position relative
    border-radius 5px

    .last-active {
      position absolute
      right 8px
      font-weight 450
      font-size 1.2rem
      top 50%
      transform translateY(-50%)
      color greyTextLight
    }

    &:hover {
      background-color darken(bgLight, 5%)
    }

    .username {
      flex-grow 1
      margin-left 12px
      font-size 1.4rem
      font-weight 500
      padding-right 20px
      white-space pre-wrap
      overflow hidden
      text-overflow ellipsis
    }
  }
}