.profile-about-widget{
  padding 0 12px
  position relative
  min-height 150px
  .intro-panel{
    padding 12px 0
    .ip-label{
      margin-bottom 8px
      font-size 1.8rem
      font-weight bold
    }
    .ip-info{
      .info-row{
        padding 8px 0
        color commonTextLight
        font-size 1.5rem
        white-space pre-wrap
        .icon{
          i{
            font-size 1.8rem
            color greyTextLight
          }
          &.male{
            i{
              font-size 2.2rem
              color #0770ba
            }
          }
          &.female{
            i{
              font-size 2.2rem
              color #e462f5
            }
          }
          &.others{
            i{
              font-size 2.2rem
              color #c7c404
            }
          }
          width 28px
          display inline-block

        }

      }
    }
  }
  .divider{
    background-color common-border
    height 1px

  }
}