.authen-layout{
  .children-wrapper{
    margin-top 56px
    min-height 100%
    background-color: bgLight
    .feed-infinite {
      height calc(100vh - 56px)


    }
  }
  &.darkMode{
    .children-wrapper{
      background-color: bgDark
    }
  }
  &.stay-down{
    .children-wrapper{
      margin-top 96px
      .feed-infinite {
        height calc(100vh - 96px)


      }

    }

  }
}
