.authen-layout{
  .children-wrapper{
    margin-top 56px
    min-height 100%
    background-color: bgLight

  }
  &.darkMode{
    .children-wrapper{
      background-color: bgDark
    }
  }
  &.stay-down{
    .children-wrapper{
      margin-top 96px


    }

  }
}
