.main-content{
  margin-top 60px
  padding 30px 3rem
  margin-left 24rem
  .main-content__header{
    margin-bottom 3rem
    .authen-route-title{
      font-size 2.2rem
      color titleColor
      font-weight 500
    }
  }
}