.resend-confirm-token-modal{
  position relative
  width 500px
  .modal-body{
    height 100px
    display flex
    .status{
      font-size 15px
      display flex
      align-self center
      align-items center
      &.failed{
        i{
          color danger
        }
      }
      &.success{
        i{
          color success
        }
      }
      i{
        font-size 30px
        margin-right 15px
      }
    }
    .loading-inline{
      i{
        font-size 30px
      }
    }
  }
}