.create-listing-preview-widget{
  background-color: white;
  border-radius: 8px;
  max-width: calc(100% - 78px);
  margin: 10px 24px 32px 24px;
  width: 972px;
  box-shadow 0 2px 12px rgba(69, 65, 78, 0.2);
  color: normalTextLight;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  .preview-header-wrapper{
    padding: 10px 16px 0px 10px;
    box-sizing: border-box;
    .preview-header{
      font-size: 15px;
      font-weight: 600;
    }  
  }
  .preview-display-wrapper{
    padding: 12px;
    display: flex;
    height calc(100% - 32px);
    box-sizing: border-box
    .picture-display-section{
      background-color: btnCancelLight;
      flex-basis: 50%;
      flex-grow: 1;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      
      .image-empty-placeholder{
        display: flex;
        justify-content: center;
        align-items: center;
        height 100%
        font-size: 24px;
        text-align: center;
        flex-direction: column;
        .ie-placeholder-title{
          margin: 7px 0;
          font-size: 24px;
          font-weight: 700;
          color: secondaryTextLight;
        }
        .ie-placeholder-content{
          color: secondaryTextLight;
          font-size: 20px;
          font-weight: 400
          word-break: break-word;
        }
      }
      
    }
    .listing-info-section{
      flex-basis: 360px;
      width: 100%;
      border-left: 0.5px solid lightgray;
      
      .info-display-wrapper{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        .main-info-wrapper{
          padding: 16px;
          padding-bottom: 0;
          .info-title{
            font-size: 24px;
            font-weight: 700;
            line-height: 20px;
          }
          .info-price{
            margin-top: 8px;
            font-size: 17px;
            font-weight: 500;
            line-height: 20px;
          }
          .info-time-position{
            margin: 8px 0 13px 0;
            color: secondaryTextLight;
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;

          }
        }

        .button-section-wrapper{
          margin: 8px 8px 4px 16px
          display: flex;
          .button-display{
            margin-right: 8px;
            height 36px;
            cursor not-allowed;
            padding: 0 16px;
            border-radius: 6px
            background-color: btnCancelLight;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            font-weight: 600;
            &.send-text{
              width 100%;
            }
            i{
              font-size: 16px;
              margin: 0 3px;
            }
            span{
              margin: 0 3px;
              max-width 100%;
            }
          }
        }

        .addition-info-wrapper{
          margin-bottom: 12px;
          display: flex;
          flex-direction: column;
          
          .addition-info-header{
            padding: 15px 16px 4px 16px;
            box-sizing: border-box;
            font-size: 17px;
            font-weight: 600;
            
          }
          .addition-info-body{
            padding: 0 16px;
            font-size: 15px;
            color: normalTextLight;
            .addition-info{
              padding: 5px 0;
              border-top: 0.8px solid lightgray
              display: flex;
              .addition-info-type{
                flex-basis: 50%;
                font-weight: 600;
              }
              .addition-info-content{
                flex-basis: 50%;
                font-weight: 400;
              }
            }  
            .decription-wrapper{
              
            }
            .location-wrapper{
              margin: 12px 0px;  
              .location-info{
                font-weight: 600;  
              }
              .addition-text{
                font-weight: 400;
                font-size: 13px;
                color: secondaryTextLight;  
              }
            }
            
          }
          
        } 
        .seller-info-wrapper{
          margin-bottom: 12px;
          
          padding: 0 8px;
          .seller-info-header{
            border-top: 1px solid lightgray;
            margin: 0 8px;
            padding: 15px 0 4px 0;
            font-size: 17px;
            font-weight: 600;
          }
          .seller-info-body{
            display: flex;
            align-items: center;
            .seller-avatar-wrapper{
              display: inline-block;
              vertical-align: middle;
              width: 40px;
              height: 40px;
              overflow: hidden;
              border-radius: 50%;
              margin: auto;
              position: relative;
              margin: 8px 12px 8px 0;
              img{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                height: 41px;
              }
            }
            .seller-name-wrapper{
              .user-name{
                font-size: 15px;
                font-weight: 600;
              }
            }
          }
          
        }     
      }

      .send-message-wrapper{
        border-top: 0.8px solid lightgray 
        padding: 10px 16px;
        
        .send-message-header{
          display: flex;
          align-items: center
          i{
            font-size: 16px;
            margin-right: 8px;

          }
          .send-message-title{
            font-size: 15px;
            font-weight: 400;
          }
        }
      }

    } 

  }
}

.gray-filter{
  filter: grayscale(100%) contrast(30%) brightness(150%);
  // pointer-events: none;
}