.create-listing-preview-widget{
  background-color: white;
  border-radius: 8px;
  max-width: calc(100% - 78px);
  margin: 10px 24px 32px 24px;
  width: 972px;
  box-shadow 0 2px 12px rgba(69, 65, 78, 0.2);
  color: normalTextLight;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  .preview-header-wrapper{
    padding: 10px 16px 0px 10px;
    box-sizing: border-box;
    .preview-header{
      font-size: 15px;
      font-weight: 600;
    }  
  }
  .preview-display-wrapper{
    padding: 12px;
    display: flex;
    height calc(100% - 32px);
    box-sizing: border-box
    .picture-display-section{
      background-color: btnCancelLight;
      flex-basis: 50%;
      flex-grow: 1;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      
      .image-empty{
        display: flex;
        justify-content: center;
        align-items: center;
        height 100%
        font-size: 24px;
      }
      
    }
    .listing-info-section{
      flex-basis: 360px;
      width: 100%;
    } 

  }
}