.create-listing-preview-widget{
  background-color: white;
  border-radius: 8px;
  max-width: calc(100% - 78px);
  margin: 0 24px 32px 24px;
  width: 972px;
  box-shadow 0 2px 12px rgba(69, 65, 78, 0.2);
  color: normalTextLight;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display flex;
  justify-content: center;
  .preview-header-wrapper{
    padding: 20px 16px 4px 16px;
    .preview-header{
      
    }  
  }
}