.guest-navbar{
  padding  15px 0
  background-color white
  &.stay-down{
    margin-top 40px
  }
  .guest-navbar-left{
    align-self center
  }
  .guest-navbar-wrapper{
    display flex
    justify-content space-between
    align-items flex-start
  }
}