.guest-navbar{
  padding  15px 0
  background-color white
  .guest-navbar-left{
    align-self center
  }
  .guest-navbar-wrapper{
    display flex
    justify-content space-between
    align-items flex-start
  }
}