.navigations {
  display flex
  justify-content center
  align-items flex-end
  height 100%
  &.darkMode{
    .navigation{
      &:not(.active) {
        .icon-wrapper {
          &:hover {
            background-color lighten(darkNav, 15%) !important
          }
        }

      }
      .icon-wrapper {


        i {
          color commonTextDark

        }

      }
    }
  }
  .navigation-tooltip{
    height 100%

  }
  .navigation {

    width 110px
    height 100%
    border-bottom 2px solid transparent
    margin 0 5px
    padding-top 5px
    padding-bottom 3px
    &.active {
      border-bottom-color primaryButton

      .icon-wrapper {
        i {
          color primaryButton
        }
      }
    }

    &:not(.active) {
      .icon-wrapper {
        &:hover {
          background-color darken(white, 5%)
        }
      }

    }


    .icon-wrapper {
      border-radius 6px
      transition all 0.1s ease
      height 100%
      position relative
      cursor: pointer;

      i {
        color lighten(#1a1a1a, 15%)
        font-size 22px
        absoluteMiddle()
      }

    }
  }
}