.MuiGrid-item{
  align-items center !important
}
.manage-form{
  .form-actions{
    margin-top 50px
    padding-top 20px
    text-align right
    button{
      margin-left 10px
    }
    border-top 1px solid common-border
  }
  .date-picker-wrapper{
    max-width 350px
  }
  padding 20px
  .child-summary{
    margin-bottom 20px
    .error{
      margin-left 10px
      font-size 1.4rem
      color danger
    }
    .sub{
      font-size 1.3rem
      margin-top 6px
      color lightgrey
    }
    .label{
      color inverse
      font-weight 500
      font-size 1.6rem
    }
    .value{
      color info
      font-weight 500
      font-size 1.7rem
      margin-left 8px
    }
  }
  .child-event{
    margin-bottom 20px
    flex-wrap wrap
    border-left 2px solid transparent
    &.error{
      border-left-color danger
    }
    .form-row{
      margin 0 !important
    }
    display flex
    .child-status{
      flex 0 0 100%
      margin-bottom 10px
      padding-left 20px
      .label{
        color inverse
        font-size 1.4rem
        font-weight 500
      }
      .value{
        .common-badge{
          margin-left 8px
        }
      }
    }
    .child-action{
      flex 0 0 80px
      .action-btn{
        width 30px
        height 30px
        text-align center
        margin auto
        line-height 37px
        cursor pointer
        border-radius 3px
        i{
          font-size 1.8rem
          color white
        }
        &.plus{
          background-color success
          &:hover{
            background-color darken(success, 10%)
          }
        }
        &.minus{
          margin-top 6px
          background-color danger
          &:hover{
            background-color darken(danger, 10%)
          }
        }
      }
    }
    .form-row{
      flex 0 0 calc(100% - 80px)
    }
  }
  .form-row{
    margin-bottom 20px
    justify-content space-between


    .form-item{
      .common-select{
        max-width 350px
      }
      .form-error{
        font-size 1.3rem
        color danger
      }
      .MuiFormControl-root{
        width 100% !important
        .MuiInputBase-root{
          font-size 16px !important
        }

      }
      .form-label{
        font-size 1.6rem
        color inverse
        font-weight 500
        margin-bottom 6px
      }
      &.col-4{
        flex 0 0 32% !important
      }
      &.col-6{
        flex 0 0 49% !important
      }
    }
  }

  .form-actions{
    text-align right
    button{
      margin-left 10px
    }
  }
}