.multiple-steps{
  .step-details{
    background-color #F6F6F7
    border-radius 3px
    box-shadow 2px 3px 5px rgba(21, 35, 46, 0.15);
    padding 20px
    .step-title{
      font-weight 500
      color sectionTitle
      font-size 1.8rem
      padding-bottom 5px
      border-bottom 3px solid info
      display inline-block
      padding-right 50px
    }
    .step-actions{
      margin-top 20px
      text-align right
      button{
        color white
        padding 6px 20px
        font-size 1.6rem
        transition background-color 0.1s ease
        margin-left 15px
        font-weight 400
        &.disabled{
          pointer-events none
        }
      }


    }
  }
  .steps-nav{
    margin-bottom 30px
    position relative
    display flex
    align-items center
    justify-content space-evenly
    .steps-line{
      position absolute
      width 100%
      left 0
      top 50%
      transform translateY(-50%)
      background-color  info
      height 2px
      border-radius 10px
    }
    .steps-line-item{
      text-align center
      padding 0 10px
      z-index 1
      background-color #f3f3f3
      .wrapper{
        display flex
        align-items center
        .step-index{
          color white
          font-size 1.8rem
          font-weight 500
          height 50px
          width 50px
          display flex
          align-items center
          transition background-color 0.1s ease
          justify-content center
          border-radius 50%
          background-color info
        }
        .step-subtitle{
          color info
          font-size 1.6rem
          font-weight 500
          margin-left 10px

        }

      }
      cursor pointer
      &:not(.disabled){
        &:not(.active){
          &:hover{
            .wrapper{
              .step-index{
                background-color darken(info, 10%)
              }
            }
          }
        }
      }
      &.active{
        pointer-events none
      }
      &.disabled{
        pointer-events none
        .wrapper{
          .step-subtitle{
            color #e0e0e0
          }
          .step-index

          {
            background-color #e0e0e0
            cursor none

          }

        }

      }
    }
  }
}