.forgot-password-route{
  .confirm-widget-wrapper{
    position relative
    min-height 200px
    margin auto
    max-width 500px
    margin-top 100px
    border-radius 4px
    border 1px solid common-border
    padding 15px 20px
    .resend-token{
      margin-top 10px
      font-size 14px
      span{
        cursor pointer
      }
    }
    & > .loading-inline{
      i{
        font-size 30px
      }
    }
  }
}